header, section, footer, aside, nav, article, figure, figcaption {
    display: block;
    font-family: "Roboto Mono", monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Mono", monospace;
}

body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
}

#main_content {
    width: 1200px;
    margin: 16px auto;
    text-align: left;
}

#heading {
    border: 5px solid #ffeedd;
    padding: 16px;
    color: #fff;
    background: #2196f3 url("../../assets/images/banner.png") fixed center;
}

#menu {
    background: #ccc;
    padding: 8px 16px;
}

#menu ol {
    display: inline;
    list-style: none;
    text-decoration: none;
    padding: 8px;
}

a {
    background-color: transparent;
    text-decoration: none;
}

a:link, a:visited {
    color: #4caf50;
}

a:hover {
    color: #f44336;
}

a:active {
    color: #ffff00;
}

#content {
    float: left;
    width: 800px;
    margin: 16px;
}

#column {
    float: left;
    width: 320px;
    margin: 16px 0px;
    padding: 8px;
    background: #aabbcc;
}

article {
    background: #ffcabd;
    border: 1px solid #999;
    padding: 16px;
    margin-bottom: 16px;
}

#foot {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999;
}