extends base

block navbar-items
  - let activeItemIndex = 10;

block custom-css
  link(rel='stylesheet' href='/assets/css/changes.css')

block main-content
  .content.has-text-centered
    h1.is-primary-text.text-shadow.is-orange Changes &#x2728;
    p.is-secondary-text.is-size-5
      | The latest changes for the&nbsp;
      a.link(href='https://jahir.xyz/github') GitHub
      | &nbsp;repositories I own or contribute to
    a.button.is-paypal(target='_blank' href='/donate')
      i.mdi.mdi-gift(style='color:var(--white);margin-right: .8rem !important;')
      | Support
    br
    br
    a#loading-btn.button.is-loading.is-large Loading...
  .content
    #changes-content.columns.is-centered.is-multiline.is-mobile

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js' type='text/javascript')
  script(src='/assets/js/changes.js' type='text/javascript')
