extends base

block navbar-items
  - let activeItemIndex = 2;

block custom-css
  link(rel='stylesheet' href='/assets/css/donate.css')

block main-content
  .content
    h1.is-primary-text.text-shadow.is-blue.has-text-centered Become a Supporter&nbsp;
      span(aria-hidden="true") &#x1F499;
    br
    div
      p.has-text-justified
        | I try really hard to build great apps and provide the best possible experience
        | and products to all users, and most of them are&nbsp;
        a.link(href='https://jahir.xyz/github' target='_blank') open source
        | . However, that wouldn&apos;t be possible without the help and the motivation from&nbsp;
        a.link(href='#thanks') supporters
        | !
      p.has-text-justified
        strong
          | If you like and/or use any of&nbsp;
          a.link(href='/#projects' target='_blank') my projects
          | , or want to support my work, please kindly consider becoming a supporter, so I can
          | continue maintaining and improving them as well as creating new ones.
      p.has-text-justified
        | Whatever I receive, will be highly appreciated! Thanks a ton! 🤗
      br
      p.has-text-justified
        strong Donation Options:
      ul.buttons.social-links.donation-buttons(aria-label="Donation options links")
        li
          a.button.social-link.donation-button.is-github(href='https://github.com/users/jahirfiquitiva/sponsorship' aria-label='GitHub Sponsors')
            span.mdi.mdi-18px.mdi-github(aria-hidden='true')
            | GitHub Sponsors
        li
          a.button.social-link.donation-button.is-paypal(href='https://jahir.xyz/DonatePayPal' target='_blank' aria-label='PayPal')
            span.mdi.mdi-18px.mdi-credit-card-outline(aria-hidden="true")
            | PayPal
        li
          a.button.social-link.donation-button.is-bmac(href='https://buymeacoff.ee/jahirfiquitiva' target='_blank' aria-label='Buy me a Coffee')
            span.mdi.mdi-18px.mdi-coffee(aria-hidden="true")
            | Buy Me A Coffee
    br
    br
    br
    br
    #thanks
      h2.is-primary-text.text-shadow.is-orange.has-text-centered Thanks!&nbsp;
        span(aria-hidden="true") &#x1F64C;
      h6.is-secondary-text.has-text-centered
        | I&apos;m really grateful to all the awesome people that support my work.
      br
      .has-text-centered
        .buttons.has-text-centered.is-centered#supporters-list

append scripts
  script(src='/assets/js/donate.js' type='text/javascript')
