footer.footer
  .container.has-text-centered
    include social-btns
    br
    p(style='margin-bottom: .8rem') Made with&nbsp;
      span.mdi.mdi-heart
      | &nbsp;by&nbsp;
      a(href='/') yours truly
    p(style='font-size: .9rem') Copyright © #{new Date().getFullYear()} | All Rights Reserved
