doctype html
html.has-navbar-fixed-top(lang='en')
  head
    include meta-tags
    link(rel='stylesheet' href='./assets/libs/bulma.min.css')
    block custom-css
  body
    #particles-bg.hero
    section#home.hero.is-fullheight-with-navbar
      .hero-head
        nav.navbar.is-fixed-top.has-shadow
          progress.progress(value='30' max='100')
          .container
            .navbar-brand.use-manrope
              a.navbar-item
                img(src='./assets/images/brand/logo-def.svg' alt='JF' height='48' width='48')
                b Jahir Fiquitiva
              span.navbar-burger.burger(data-target='nav-menu')
                span
                span
                span
            #nav-menu.navbar-menu
              .navbar-end
                a.navbar-item.is-active
                  | Home
      .hero-body
        .container.has-text-centered
          block main-content
      .hero-foot
        .down-indicator.has-text-centered
          h4 👇
    block content
    hr
    footer.footer
      .hero-body
        include social-btns
  script(src='./assets/libs/js/particles.min.js')
  script(src='./assets/js/main.js')
