extends main

block real-content
  section#home.hero.is-fullheight-with-navbar
    include navbar
    .hero-body
      .container.has-text-centered
        block main-content
    block main-content-footer
  block content
  hr(aria-hidden="true")
  include footer
