extends header

block main-content
  .columns.is-multiline.is-centered
    .column.center-vertically.is-12-mobile.is-5
      .avatar
      br
      h3#hello.text-shadow.is-amber Hello, world! 👋
      h3.text-shadow.is-blue I am Jahir Fiquitiva
      br
      p.has-text-justified
        | I'm a passionate and creative full-stack developer from&nbsp;
        a(href='https://www.google.com/maps/place/Colombia/@4,-72z/') Colombia 🇨🇴
        | who aims to build quality products by taking into account good development
        | practices and focusing on UI and UX, while also trying to provide accessible experiences.
      br
      details.has-text-justified
        summary.button.is-primary#more-info More about me
        p
          | I'm currently a Computer Science student at&nbsp;
          a(href='http://www.uptc.edu.co/') Pedagogical and Technological University of Colombia.
        p
          | I consider myself a curious and inquisitive person, so on my spare time I like to work
          | on&nbsp;
          a(href='#projects') side projects
          | &nbsp;and try to constantly learn something new to improve my skillset.
        p Last, but not least, I have open&nbsp;
          a(href='https://jahir.xyz/twitterdm') Twitter DMs
          | ,&nbsp;
          a(href='https://jahir.xyz/tlgrm') Telegram
          | &nbsp;and&nbsp;
          a(href='/contact') email
          | &nbsp;for any kind of inquiries. 🤗
          br
          | Also, &nbsp;
          a(href='/donate/#thanks') huge thanks to my supporters.
      br
      include social-btns
    .column.is-12-mobile.is-2
    .column.center-vertically.is-12-mobile.is-5
      h4.text-shadow.is-green
        b Tech I've worked with
      br
      br
      #tech.columns
        .column
          span.mdi.mdi-android.mdi-48px
          p Android
        .column
          .has-svg.kotlin
          p Kotlin
        .column
          span.mdi.mdi-language-java.mdi-48px
          p Java
        .column
          .has-svg.python
          p Python
        .column
          .has-svg.javascript
          p JavaScript
        .column
          span.mdi.mdi-language-html5.mdi-48px
          p HTML 5
        .column
          span.mdi.mdi-language-css3.mdi-48px
          p CSS 3
        .column
          span.mdi.mdi-nodejs.mdi-48px
          p NodeJS
        .column
          span.mdi.mdi-react.mdi-48px
          p React
        .column
          .has-svg.mongodb
          p MongoDB
        .column
          span.mdi.mdi-git.mdi-48px
          p Git
        .column
          span.mdi.mdi-material-design.mdi-48px
          p Material Design
