extends index-base

block custom-css
  link(rel='stylesheet' href='/assets/css/home.css')
  link(rel='stylesheet' href='/assets/css/projects.css')

block main-content
  .columns.is-multiline.is-centered
    .column.center-vertically.is-12-mobile.is-5
      img.avatar(src='/assets/images/me/me.jpg' alt='Jahir Fiquitiva')
      br
      h3#hello.has-text-centered.text-shadow.is-amber Hello, world! 👋
      h3.has-text-centered.text-shadow.is-blue I am Jahir Fiquitiva
      br
      p.has-text-justified
        | I'm a passionate and creative full-stack developer from&nbsp;
        a(href='https://www.google.com/maps/place/Colombia/@4,-72z/') Colombia
          span(aria-hidden="true") 🇨🇴
      br
      details
        summary.button.is-primary#more-info
          span.mdi
          | More about me
        p.has-text-justified
          | I'm currently a Computer Science student at&nbsp;
          a(href='http://www.uptc.edu.co/') Pedagogical and Technological University of Colombia.
        p.has-text-justified
          | I consider myself a curious and inquisitive person, so on my spare time I like to work
          | on&nbsp;
          a(href='#projects') side projects
          | &nbsp;and try to constantly learn something new to improve my skillset.
        p.has-text-justified I have open&nbsp;
          a(href='https://jahir.xyz/twitterdm') Twitter DMs
          | ,&nbsp;
          a(href='https://jahir.xyz/tlgrm') Telegram
          | &nbsp;and&nbsp;
          a(href='/contact') email
          | &nbsp;for any kind of inquiries. 🤗
        p.has-text-justified If you are interested in knowing which tools I use, you can&nbsp;
          a(href='/uses') check out my uses page
          | .
      br
      p
        strong Find me on:
      br
      include social-btns
    .column.is-12-mobile.is-1
    -
      const skillsItems = [{ title: 'Android', class: 'android' },
        { title: 'Kotlin', class: 'language-kotlin' },
        { title: 'Java', class: 'language-java' },
        { title: 'Python', class: 'language-python' },
        { title: 'JavaScript', class: 'language-javascript' },
        { title: 'HTML5', class: 'language-html5' },
        { title: 'CSS3', class: 'language-css3' }];
    // { title: 'NodeJS', class: 'nodejs' },
    // { title: 'React', class: 'react' },
    // { title: 'MySQL', class: 'database' },
    // { title: 'MongoDB', class: 'leaf' },
    // { title: 'Git', class: 'git' },
    // { title: 'Material Design', class: 'material-design' }];
    .column.center-vertically.is-12-mobile.is-5
      h2.text-shadow.is-red
        strong Skills&nbsp;
          span(aria-hidden="true") 🚀
      br
      br
      ul#tech.tags.are-large
        each item in skillsItems
          li.tag.is-rounded(class="is-" + item.class)
            span.mdi(class="mdi-" + item.class aria-hidden="true")
            p #{item.title}

block main-content-footer
  .hero-foot
    .down-indicator.has-text-centered
      h4(aria-hidden="true") 👇

block content
  include projects

append scripts
  script(src='/assets/js/projects.js' type='text/javascript')
