extends header

block main-content
  .columns.is-multiline.is-centered
    .column.center-vertically.is-12-mobile.is-5
      .avatar
      br
      h3#hello.text-shadow.is-amber Hello, world! 👋
      h3.text-shadow.is-blue I am Jahir Fiquitiva
      br
      p.has-text-justified
        | I'm a passionate and creative full-stack developer from&nbsp;
        a(href='https://www.google.com/maps/place/Colombia/@4,-72z/') Colombia 🇨🇴
        | &nbsp;who aims to build quality products by taking into account good development
        | practices and focusing on UI and UX, while also trying to provide accessible experiences.
      br
      a.button.is-primary(href='./about') More about me
    .column.is-12-mobile.is-2
    .column.center-vertically.is-12-mobile.is-5
      h4.text-shadow.is-green
        b Tech I've worked with
      br
      br
      #tech.columns.is-multiline.is-centered
        .column.is-4-mobile.is-3
          span.mdi.mdi-android.mdi-48px
          p Android
        .column.is-4-mobile.is-3
          .has-svg.kotlin
          p Kotlin
        .column.is-4-mobile.is-3
          span.mdi.mdi-language-java.mdi-48px
          p Java
        .column.is-4-mobile.is-3
          .has-svg.python
          p Python
        .column.is-4-mobile.is-3
          span.mdi.mdi-language-javascript.mdi-48px
          p JavaScript
        .column.is-4-mobile.is-3
          span.mdi.mdi-language-html5.mdi-48px
          p HTML 5
        .column.is-4-mobile.is-3
          span.mdi.mdi-language-css3.mdi-48px
          p CSS 3
        .column.is-4-mobile.is-3
          span.mdi.mdi-nodejs.mdi-48px
          p NodeJS
        .column.is-4-mobile.is-3
          span.mdi.mdi-react.mdi-48px
          p React
        .column.is-4-mobile.is-3
          .has-svg.mongodb
          p MongoDB
        .column.is-4-mobile.is-3
          span.mdi.mdi-git.mdi-48px
          p Git
        .column.is-4-mobile.is-3
          span.mdi.mdi-material-design.mdi-48px
          p MD
