extends base

block navbar-items
  - let activeItemIndex = 10;

block custom-css
  link(rel='stylesheet' href='/assets/css/links.css')

block main-content
  .content.has-text-centered
    .avatar
    br
    h5.is-primary-text.bold.text-shadow.is-small.is-blue.use-manrope(style='margin-bottom: .2rem;')
      | Jahir Fiquitiva
    h6.is-primary-text.text-shadow.is-small.is-blue @jahirfiquitiva
    br
    br
    .home-content
      h4.is-primary-text.bold.text-shadow.is-green.is-small Links
      .columns.is-centered.is-multiline.is-mobile
        .column.is-full-mobile.is-half-tablet.is-one-third-desktop.is-one-fifth-fullhd
          a.button.is-primary(style='min-width: 100% !important;' href='/') Website // Portfolio
        .column.is-full-mobile.is-half-tablet.is-one-third-desktop.is-one-fifth-fullhd
          a.button.is-primary(style='min-width: 100% !important;' href='https://jahir.xyz/pp5') Donate
        .column.is-full-mobile.is-half-tablet.is-one-third-desktop.is-one-fifth-fullhd
          a.button.is-primary(style='min-width: 100% !important;' href='https://jahir.xyz/FramesApp') Frames Wallpapers
        .column.is-full-mobile.is-half-tablet.is-one-third-desktop.is-one-fifth-fullhd
          a.button.is-primary(style='min-width: 100% !important;' href='https://jahir.xyz/PalsApp') Pals App
        .column.is-full-mobile.is-half-tablet.is-one-third-desktop.is-one-fifth-fullhd
          a.button.is-primary(style='min-width: 100% !important;' href='https://jahir.xyz/TapApp') Tap App

