doctype html

html.has-navbar-fixed-top(lang='en')
  head
    include meta-tags
    link(rel='stylesheet' href='./assets/libs/bulma.min.css')
    link(rel='stylesheet' href='./assets/css/navbar.css')
    block custom-css
  body
    #particles-bg.hero
    block real-content
    script(src='//instant.page/3.0.0' type='module' integrity='sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1' defer)
    script(src='/assets/js/theme.js' type='text/javascript')
    script(src='/assets/libs/js/particles.min.js' type='text/javascript')
    script(src='/assets/js/main.js' type='text/javascript')
    block scripts
