doctype html

html.has-navbar-fixed-top(lang='en')
  head
    include meta-tags
    link(rel='stylesheet' href='./assets/libs/bulma.min.css')
    link(rel='stylesheet' href='./assets/css/navbar.css')
    block custom-css
  body
    #particles-bg.hero
    block real-content
    script(src='//instant.page/2.0.0' type='module' integrity='sha384-D7B5eODAUd397+f4zNFAVlnDNDtO1ppV8rPnfygILQXhqu3cUndgHvlcJR2Bhig8')
    script(src='./assets/js/theme.js')
    script(src='./assets/libs/js/particles.min.js')
    script(src='./assets/js/main.js')
    block scripts
