doctype html

html.has-navbar-fixed-top(lang='en')
  head
    include meta-tags
    link(rel='stylesheet' href='./assets/libs/bulma.min.css')
    link(rel='stylesheet' href='./assets/css/navbar.css')
    block custom-css
  body
    #particles-bg.hero
    block real-content
  script(src='./assets/libs/js/particles.min.js')
  script(src='./assets/js/main.js')
  block scripts
