-
  const navbarItems = [{title:'Home', link:'/'},
  {title:'Projects', link:'/#projects'},
  {title:'Donate', link:'/donate'},
  {title:'Contact', link:'/contact'}];

block navbar-items
  - let activeItemIndex = 0;

.hero-head
  nav.navbar.is-fixed-top.has-shadow
    progress.progress(value='30' max='100')
    .container
      .navbar-brand.use-manrope
        a.navbar-item(href='/')
          img#logo(src='./assets/images/brand/logo-def.svg' alt='JF' height='48' width='48')
          b Jahir Fiquitiva
        span.navbar-burger.burger(data-target='nav-menu')
          span
          span
          span
      #nav-menu.navbar-menu
        .navbar-end
          each item, index in navbarItems
            a.navbar-item(class={
              "is-active": activeItemIndex === index,
              "": !activeItemIndex === index
            } href=item.link)
              = item.title
          #theme-switch.navbar-item(onclick='switchTheme();')
            span.mdi.mdi-weather-night
            | &nbsp;&nbsp;Dark Theme
