block vars
  - link='';

doctype html
head
  meta(charset='UTF-8')
  - cont='0; url='+link;
  meta(http-equiv='refresh' content=cont)
  script(type='text/javascript').
    window.location.href = '#{link}';
  title Redirecting...
| If you are not redirected automatically, please follow this
a(href=link) link
| .
