extends base

block navbar-items
  - let activeItemIndex = 10;

block custom-css
  link(rel='stylesheet' href='./assets/css/404.css')

block main-content
  .error-content.has-text-centered
    h2.is-primary-text.text-shadow.is-green
      strong Thanks for your message
    br
    h6.is-primary-text
      | I will get back to you as soon as possible &#x1F64C;&#x1F3FC;
    br
    br
    a.button.is-primary(href='/') Go Back Home

