div.social-links
  a.social-link.is-github(href='https://github.com/jahirfiquitiva')
    span.mdi.mdi-36px.mdi-github-box
  a.social-link.is-twitter(href='https://twitter.com/jahirfiquitiva')
    span.mdi.mdi-36px.mdi-twitter-box
  a.social-link.is-linkedin(href='https://linkedin.com/in/jahirfiquitiva')
    span.mdi.mdi-36px.mdi-linkedin-box
  a.social-link.is-gplay(href='https://twitter.com/jahirfiquitiva')
    span.mdi.mdi-36px.mdi-google-play
  a.social-link.is-telegram(href='https://twitter.com/jahirfiquitiva')
    span.mdi.mdi-36px.mdi-telegram
