ul.social-links(aria-label='Social media links')
  li
    a.button.social-link.is-github(href='https://github.com/jahirfiquitiva' aria-label='GitHub')
      span.mdi.mdi-18px.mdi-github-circle(aria-hidden='true')
  li
    a.button.social-link.is-twitter(href='https://twitter.com/jahirfiquitiva' aria-label='Twitter')
      span.mdi.mdi-18px.mdi-twitter(aria-hidden='true')
  li
    a.button.social-link.is-linkedin(href='https://linkedin.com/in/jahirfiquitiva' aria-label='LinkedIn')
      span.mdi.mdi-18px.mdi-linkedin(aria-hidden='true')
  li
    a.button.social-link.is-gplay(href='https://play.google.com/store/apps/dev?id=7438639276314720952' aria-label='Google Play')
      span.mdi.mdi-18px.mdi-google-play(aria-hidden='true')
  li
    a.button.social-link.is-telegram(href='https://jahir.xyz/tlgrm' aria-label='Telegram')
      span.mdi.mdi-18px.mdi-telegram(aria-hidden='true')
