div.social-links
  a.button.social-link.is-github(href='https://github.com/jahirfiquitiva')
    span.mdi.mdi-18px.mdi-github-circle
  a.button.social-link.is-twitter(href='https://twitter.com/jahirfiquitiva')
    span.mdi.mdi-18px.mdi-twitter
  a.button.social-link.is-linkedin(href='https://linkedin.com/in/jahirfiquitiva')
    span.mdi.mdi-18px.mdi-linkedin
  a.button.social-link.is-gplay(href='https://twitter.com/jahirfiquitiva')
    span.mdi.mdi-18px.mdi-google-play
  a.button.social-link.is-telegram(href='https://twitter.com/jahirfiquitiva')
    span.mdi.mdi-18px.mdi-telegram
