extends base

block navbar-items
  - let activeItemIndex = 4;

block custom-css
  link(rel='stylesheet' href='/assets/css/uses.css')

block main-content
  .content
    h1.is-primary-text.text-shadow.is-purple.has-text-centered Uses&nbsp;&nbsp;
      span(aria-hidden="true") ⚡️
    br
    div
      h4 🌐&nbsp;&nbsp;Website
      p This website is built using&nbsp;
        a(href='https://bulma.io/' target='_blank') Bulma
        | ,&nbsp;
        a(href='https://github.com/matteobruni/tsparticles' target='_blank') ParticlesJS
        |  and is deployed on&nbsp;
        a(href='https://app.netlify.com/' target='_blank') Netlify.
      br
      h4 📑&nbsp;&nbsp;Terminal + Editors
      p I use the default macOS terminal with a slightly modified&nbsp;
        code ~/.bash_profile
        |  for it to&nbsp;
        a(href='https://dev.to/anthonydelgado/adding-emoji-to-your-terminal-on-osx-9oj' target='_blank') show emoji
        |  and the git branch and status in the prompt
      ul
        li
          a(href='https://www.jetbrains.com/webstorm/' target='_blank') WebStorm
          | ,&nbsp;
          a(href='https://www.jetbrains.com/idea/' target='_blank') IntelliJ IDEA
          | ,&nbsp;
          a(href='https://www.jetbrains.com/pycharm/' target='_blank') PyCharm
          | &nbsp;and&nbsp;
          a(href='https://developer.android.com/studio' target='_blank') Android Studio
        li
          a(href='https://plugins.jetbrains.com/plugin/8006-material-theme-ui/' target='_blank') Material Theme UI
          |  plugin
        li
          a(href='https://github.com/tonsky/FiraCode' target='_blank') Fira Code
          |  font
      br
      h4 📌&nbsp;&nbsp;Browser Extensions (Microsoft Edge)
      ul
        li
          a(href='https://chrome.google.com/webstore/detail/https-everywhere/gcbommkclmclpchllfjekcdonpmejbdp' target='_blank') HTTPS Everywhere
        li
          a(href='https://chrome.google.com/webstore/detail/ink-for-google/hmanckoiohnlgdommlcckcflkmllobgj' target='_blank') Ink for Google
        li
          a(href='https://chrome.google.com/webstore/detail/json-viewer/gbmdgpbipfallnflgajpaliibnhdgobh' target='_blank') JSON Viewer
        li
          a(href='https://chrome.google.com/webstore/detail/refined-github/hlepfoohegkhhmjieoechaddaejaokhf' target='_blank') Refined GitHub
        li
          a(href='https://chrome.google.com/webstore/detail/refined-twitter/nlfgmdembofgodcemomfeimamihoknip' target='_blank') Refined Twitter
        li
          a(href='https://chrome.google.com/webstore/detail/simplify-gmail/pbmlfaiicoikhdbjagjbglnbfcbcojpj' target='_blank') Simplify Gmail
        li
          a(href='https://chrome.google.com/webstore/detail/the-great-suspender/klbibkeccnjlkjkiokjodocebajanakg' target='_blank') The Great Suspender
        li
          a(href='https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm' target='_blank') uBlock Origin
        li
          a(href='https://chrome.google.com/webstore/detail/user-css/okpjlejfhacmgjkmknjhadmkdbcldfcb' target='_blank') User CSS
        li
          a(href='https://chrome.google.com/webstore/detail/tabliss-a-beautiful-new-t/hipekcciheckooncpjeljhnekcoolahp' target='_blank') Tabliss
      br
      h4 💡&nbsp;&nbsp;Desktop Apps
      ul
        li
          a(href='https://flowapp.info/' target='_blank') Flow
        li
          a(href='https://www.getpostman.com/' target='_blank') Postman
        li
          a(href='https://apps.apple.com/co/app/magnet/id441258766' target='_blank') Magnet
        li
          a(href='https://highlyopinionated.co/swish/' target='_blank') Swish
        li
          a(href='https://www.macbartender.com/' target='_blank') Bartender 3
        li
          a(href='https://sindresorhus.com/dato' target='_blank') Dato
        li
          a(href='https://sindresorhus.com/lungo' target='_blank') Lungo
        li
          a(href='http://matthewpalmer.net/rocket/' target='_blank') Rocket Pro
        li
          a(href='https://rogueamoeba.com/soundsource/' target='_blank') SoundSource
        li
          a(href='https://apps.apple.com/co/app/demopro-screen-annotation/id1384206666' target='_blank') DemoPro
      br
      h4 💻&nbsp;&nbsp;Hardware
      ul
        li
          a(href='https://support.apple.com/kb/SP819' target='_blank')
            | 2020 13" MacBook Pro
          | &nbsp;2.0 GHz Quad-Core Intel Core i5 10th Gen, 512GB SSD and 16GB RAM
        li
          a(href='https://www.amazon.com/gp/product/B07D5F9D1W/' target='_blank') Dell S2319H Monitor
        li
          a(href='https://www.hypershop.com/products/new-2020-hyperdrive-duo-7-in-2-usb-c-hub' target='_blank') HyperDrive Duo 7 in 2 USB C Hub
        li
          a(href='https://www.amazon.com/gp/product/B07HMLTCPL' target='_blank') Anker 7 in 1 USB C Hub
        li
          a(href='https://www.logitech.com/product/multi-device-keyboard-k380' target='_blank') Logitech K380 Keyboard
        li
          a(href='https://www.logitech.com/product/mx-master-2s-flow' target='_blank') Logitech MX Master 2S
        li
          a(href='https://www.apple.com/iphone-11/' target='_blank')
            | iPhone 11 (PRODUCT)
            sup RED
        li
          a(href='https://www.apple.com/airpods-pro/' target='_blank')
            | AirPods Pro
