extends base

block navbar-items
  - let activeItemIndex = 10;

block custom-css
  link(rel='stylesheet' href='/assets/css/uses.css')

block main-content
  .content
    h1.is-primary-text.text-shadow.is-purple.has-text-centered Uses&nbsp;&nbsp;
      span(aria-hidden="true") 💻
    br
    div
      h4 Website
      p This website is built using&nbsp;
        a(href='https://bulma.io/' target='_blank') Bulma
        | ,&nbsp;
        a(href='https://vincentgarreau.com/particles.js/' target='_blank') ParticlesJS
        |  and is deployed on&nbsp;
        a(href='https://app.netlify.com/' target='_blank') Netlify.
      br
      h4 Terminal
      p I use the default macOS terminal with a slightly modified&nbsp;
        code ~/.bash_profile
        |  for it to&nbsp;
        a(href='https://dev.to/anthonydelgado/adding-emoji-to-your-terminal-on-osx-9oj' target='_blank') show emoji
        |  and the git branch and status in the prompt
      br
      h4 Editor
      ul
        li Any&nbsp;
          a(href='https://jetbrains.com' target='_blank') JetBrains
          |  IDE, depending on the language I'm working with.
        li
          a(href='https://plugins.jetbrains.com/plugin/8006-material-theme-ui/' target='_blank') Material Theme UI
          |  plugin
        li
          a(href='https://github.com/tonsky/FiraCode' target='_blank') Fira Code
          |  font
      br
      h4 Browser Extensions (Chrome)
      ul
        li
          a(href='https://chrome.google.com/webstore/detail/https-everywhere/gcbommkclmclpchllfjekcdonpmejbdp' target='_blank') HTTPS Everywhere
        li
          a(href='https://chrome.google.com/webstore/detail/ink-for-google/hmanckoiohnlgdommlcckcflkmllobgj' target='_blank') Ink for Google
        li
          a(href='https://chrome.google.com/webstore/detail/json-viewer/gbmdgpbipfallnflgajpaliibnhdgobh' target='_blank') JSON Viewer
        li
          a(href='https://chrome.google.com/webstore/detail/refined-github/hlepfoohegkhhmjieoechaddaejaokhf' target='_blank') Refined GitHub
        li
          a(href='https://chrome.google.com/webstore/detail/refined-twitter/nlfgmdembofgodcemomfeimamihoknip' target='_blank') Refined Twitter
        li
          a(href='https://chrome.google.com/webstore/detail/simplify-gmail/pbmlfaiicoikhdbjagjbglnbfcbcojpj' target='_blank') Simplify Gmail
        li
          a(href='https://chrome.google.com/webstore/detail/the-great-suspender/klbibkeccnjlkjkiokjodocebajanakg' target='_blank') The Great Suspender
        li
          a(href='https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm' target='_blank') uBlock Origin
        li
          a(href='https://chrome.google.com/webstore/detail/user-css/okpjlejfhacmgjkmknjhadmkdbcldfcb' target='_blank') User CSS
      br
      h4 Desktop Apps
      ul
        li
          a(href='https://apps.apple.com/co/app/magnet/id441258766?mt=12' target='_blank') Magnet
        li
          a(href='https://highlyopinionated.co/swish/' target='_blank') Swish
        li
          a(href='https://www.macbartender.com/' target='_blank') Bartender 3
        li
          a(href='https://sindresorhus.com/dato' target='_blank') Dato
        li
          a(href='https://sindresorhus.com/lungo' target='_blank') Lungo
        li
          a(href='http://matthewpalmer.net/rocket/' target='_blank') Rocket
      br
      h4 Hardware
      ul
        li 2017 13" MacBook Pro No TouchBar 2.3 GHz 2-Core Intel Core i5, 256GB SSD and 8GB RAM
        li
          a(href='https://www.amazon.com/gp/product/B07D5F9D1W/' target='_blank') Dell S2319H Monitor
        li
          a(href='https://www.amazon.com/gp/product/B07GSWXJC9/' target='_blank') VANMASS 7 in 1 USB C Hub
        li
          a(href='https://www.amazon.com/gp/product/B07HMLTCPL' target='_blank') Anker 7 in 1 USB C Hub
        li
          a(href='https://www.logitech.com/product/multi-device-keyboard-k380' target='_blank') Logitech K380 Keyboard
        li
          a(href='https://www.logitech.com/product/mx-master-2s-flow' target='_blank') Logitech MX Master 2S
        li OnePlus 7 running Android 10
        li iPhone 11 running iOS 13.3
