@charset "UTF-8";
@font-face {
    font-family: "Manrope VF";
    src: url("ManropeGX.ttf") format("truetype-variations");
    font-style: normal;
    font-weight: 200 800;
}

@font-face {
    font-family: "Manrope";
    src: url("Manrope-ExtraBold.woff2") format("woff2"),
    url("Manrope-ExtraBold.woff") format("woff"),
    url("Manrope-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Manrope";
    src: url("Manrope-Bold.woff2") format("woff2"),
    url("Manrope-Bold.woff") format("woff"),
    url("Manrope-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Manrope";
    src: url("Manrope-SemiBold.woff2") format("woff2"),
    url("Manrope-SemiBold.woff") format("woff"),
    url("Manrope-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Manrope";
    src: url("Manrope-Medium.woff2") format("woff2"),
    url("Manrope-Medium.woff") format("woff"),
    url("Manrope-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Manrope";
    src: url("Manrope-Regular.woff2") format("woff2"),
    url("Manrope-Regular.woff") format("woff"),
    url("Manrope-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Manrope";
    src: url("Manrope-Light.woff2") format("woff2"),
    url("Manrope-Light.woff") format("woff"),
    url("Manrope-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Manrope";
    src: url("Manrope-ExtraLight.woff2") format("woff2"),
    url("Manrope-ExtraLight.woff") format("woff"),
    url("Manrope-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
}

body, html {
    font-weight: 500;
    font-variation-settings: 'wght' 500;
    font-variation-ligatures: normal;
    font-feature-settings: 'calt', 'liga';
}

*, *:before, *:after {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
