.avatar {
  margin: auto;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  background-color: $primary-light;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .25s ease-in;
  -webkit-box-shadow: 3px 3px 0 0 $cyan-light;
  -moz-box-shadow: 3px 3px 0 0 $cyan-light;
  box-shadow: 3px 3px 0 0 $cyan-light;
}
