/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/05/2017, 09:34:32 PM
    Author     : j_250
*/
header, section, footer, aside, nav, article, figure, figcaption, hgroup {
    display: block;

}

body {
    text−align: center;
    align-content: center;
    background: #cecece;
}

#main_content {
    width: 1200px;
    margin: 15px auto;
    text-align: center;
}

#heading {
    text-transform: uppercase;
    text-decoration: #C3F5A8;
    text-align: center;
    font-style: italic;
    font-variant-numeric: proportional-nums;
    font-family: monospace;
    color: blue;
    font-size: larger;
    border: 1px solid aqua;
    padding: 90px;
    background-image: url("./images/progra.jpg");
    border-radius: 10px;

}

#menu {

    background: #00ccff;
    padding: 5px 15px;
    border-radius: 10px;
}

#menu ol {
    display: inline;
    padding: 5px;
    font: bold 14px verdana, sans−serif;
}

a:link {
    color: green;
    background−color: transparent;
    text−decoration: none;
}

a:visited {
    color: green;
    background−color: transparent;
    text−decoration: none;
}

a:hover {
    color: tomato;
    background−color: transparent;
    text−decoration: underline;
}

a:active {
    color: yellow;
    background−color: transparent;
    text−decoration: underline;
}

#content {
    float: left;
    width: 800px;
    margin: 20px;

}

#column {
    float: left;
    border-radius: 10px;
    width: 700px;
    margin: 20px 0px;
    padding: 20px;
    background: burlywood;
}

#side {
    margin: 60px 20px 20px 900px;
    padding: 3px;
    border-radius: 10px;
    background: cadetblue;
}

article {
    background: #C3F5A8;
    border: 3px solid aliceblue;
    text-align: justify;
    padding: 10px;
    border-radius: 10px;
    border-style: inset;

}

figure {
    text-align: center;
}

#foot {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 7px dotted blue;
}
