.about {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
    margin-top: 4rem;
}

.about .photocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 1;
}

.about .photocontainer img.photo {
    display: block;
    border-radius: 50%;
    margin: auto;
    max-width: 168px;
}

.about .info {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem 1rem;
    grid-row: 2;
}

.about .info,
.details {
    text-align: justify-all;
}

.details {
    padding: 0 2rem 1rem;
}

.details button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.details button svg {
    margin-right: .6rem;
}

.details p {
    margin: 0.85em 0;
}

@media (min-width: 960px) {
    .about {
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: unset;
        margin-top: 0;
    }

    .about .info {
        padding: 4rem 0 2.4rem;
        grid-column: 1;
        grid-row: 1;
    }

    .about .photocontainer {
        grid-column: 2;
        grid-row: 1;
    }

    .details {
        padding: 0;
    }
}

span.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }
    10% {
        transform: rotate(-10.0deg)
    }
    20% {
        transform: rotate(12.0deg)
    }
    30% {
        transform: rotate(-10.0deg)
    }
    40% {
        transform: rotate(9.0deg)
    }
    50% {
        transform: rotate(0.0deg)
    }
    100% {
        transform: rotate(0.0deg)
    }
}
