:root,
.light-mode {
  --system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --inter-font: 'Inter', var(--system-font);
  --manrope-font: 'Manrope', var(--inter-font);
  --code-font: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New',
    Courier, monospace;
  --base-font-size: 1.05rem;
  --toolbar-height: 2.4rem;
  --text-shadow-size: 2px;
  --background: #fff;
  --primary: #f6f9fe;
  --accent: #3867d6;
  --accent-light: #88a4e6;
  --accent-dark: #2d52ab;
  --on-accent: #fff;
  --text-primary: rgba(9, 17, 34, 0.95);
  --text-secondary: rgba(9, 17, 34, 0.8);
  --text-tertiary: rgba(9, 17, 34, 0.5);
  --divider: rgba(9, 17, 34, 0.12);
  --toolbar-color: rgba(235, 240, 251, 0.65);
  --toolbar-color-opaque: rgb(235, 240, 251);
  --toolbar-shadow-a: rgba(9, 17, 34, 0.08);
  --toolbar-shadow-b: rgba(9, 17, 34, 0.06);
  --toolbar-shadow-c: rgba(9, 17, 34, 0.2);
  --toolbar-highlight: rgba(45, 82, 171, 0.08);
  --error-color: #eb3b5a;

  --gradients-a: var(--accent);
  --gradients-b: #2d98da;
  --gradients-c: #20bf6b;
  --gradients-d: #f7b731;
  --gradients-e: #fa8231;
  --gradients-f: #eb3b5a;
  --gradients-g: #8854d0;

  --dark-gradients-b: #81c1e9;
  --dark-gradients-c: #79d9a6;
  --dark-gradients-d: #fad483;
  --dark-gradients-e: #fcb483;
  --dark-gradients-f: #f3899c;
  --dark-gradients-g: #b898e3;

  --name-gradients-a: var(--gradients-a);
  --name-gradients-b: var(--gradients-b);
}

.dark-mode {
  --text-shadow-size: 0;
  --background: #080f1e;
  --primary: #080f1e;
  --accent: #88a4e6;
  --accent-light: #6085de;
  --accent-dark: #afc2ef;
  --on-accent: rgba(9, 17, 34, 0.9);
  --text-primary: #fff;
  --text-secondary: rgba(235, 240, 251, 0.85);
  --text-tertiary: rgba(235, 240, 251, 0.5);
  --divider: rgba(235, 240, 251, 0.12);
  --toolbar-color: rgba(8, 15, 30, 0.65);
  --toolbar-shadow-a: rgba(56, 103, 214, 0.08);
  --toolbar-shadow-b: rgba(56, 103, 214, 0.06);
  --toolbar-shadow-c: rgba(56, 103, 214, 0.2);
  --toolbar-highlight: rgba(215, 225, 247, 0.08);
  --error-color: #fc5c65;

  --gradients-a: var(--accent);
  --gradients-b: var(--dark-gradients-b);
  --gradients-c: var(--dark-gradients-c);
  --gradients-d: var(--dark-gradients-d);
  --gradients-e: var(--dark-gradients-e);
  --gradients-f: var(--dark-gradients-f);
  --gradients-g: var(--dark-gradients-g);
}

html,
body {
  background-color: var(--background);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--inter-font);
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-secondary);
}

hr {
  --start-grad-color: var(--divider);
  --start-grad-color: var(--divider);
  margin: 1rem 0;
  height: 4px;
  background: var(--start-grad-color);
  background: -moz-linear-gradient(
    90deg,
    var(--start-grad-color) 0%,
    var(--end-grad-color) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    var(--start-grad-color) 0%,
    var(--end-grad-color) 100%
  );
  background: linear-gradient(
    90deg,
    var(--start-grad-color) 0%,
    var(--end-grad-color) 100%
  );
  border: none;
  scroll-margin-top: var(--toolbar-height);
}

pre,
code,
kbd,
samp {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: var(--code-font);
}

.use-manrope {
  font-family: var(--manrope-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--manrope-font);
  color: var(--text-primary);
}

h1,
h2,
h3 {
  font-weight: 700;
}

h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: calc(var(--base-font-size) * 3);
}

h2 {
  font-size: calc(var(--base-font-size) * 2.5);
}

h3 {
  font-size: calc(var(--base-font-size) * 2);
}

h4 {
  font-size: calc(var(--base-font-size) * 1.5);
}

h5 {
  font-size: calc(var(--base-font-size) * 1.25);
}

h6,
p,
body {
  font-size: var(--base-font-size);
}

a,
a:visited {
  color: var(--accent);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--accent-dark);
  text-decoration: underline;
  -webkit-text-decoration-style: solid;
  -webkit-text-decoration-color: var(--accent-dark);
  text-decoration: underline solid var(--accent-dark);
  text-decoration-skip: edges;
}

button,
.button {
  background-color: var(--accent);
  color: var(--on-accent);
  border: none;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
  font-family: var(--manrope-font);
  font-weight: 500;
  letter-spacing: 0.05715em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: var(--accent-dark);
  -webkit-transform: translateY(-0.1rem);
  -moz-transform: translateY(-0.1rem);
  -ms-transform: translateY(-0.1rem);
  -o-transform: translateY(-0.1rem);
  transform: translateY(-0.1rem);
}

a.button,
a.button:hover,
a.button:focus,
a.button:active,
a.button:visited {
  color: var(--on-accent);
  text-decoration: none;
}

pre {
  -webkit-overflow-scrolling: touch;
  background-color: var(--primary);
  color: var(--accent);
  font-size: 0.9rem;
  overflow-x: auto;
  padding: 0.8rem;
  white-space: pre;
  word-wrap: normal;
  max-width: 90vw;
  border-radius: 6px;
}

pre code {
  background-color: transparent;
  color: currentColor;
  font-size: 0.9rem;
  padding: 0;
}

code {
  padding: 0.2rem 0.4rem;
  background-color: var(--primary);
  color: var(--accent);
  border-radius: 6px;
  font-size: 0.9rem;
}

b,
strong {
  font-weight: 500;
  color: var(--text-primary);
}

input,
select,
textarea {
  color: var(--text-primary);
}

::placeholder {
  color: var(--text-tertiary);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--text-tertiary);
}

::-ms-input-placeholder {
  color: var(--text-tertiary);
}

@media (min-width: 375px) {
  body {
    line-height: 1.8;
  }
}

@media (min-width: 960px) {
  hr {
    margin: 2rem 0;
  }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@media (min-width: 2560px) {
  body:after {
    --huge-hand-shadow-multiplier: 1.5;
    content: '👋';
    display: block;
    position: fixed;
    bottom: 0;
    right: 2.4rem;
    font-size: 5.4vh;
    pointer-events: none;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    text-shadow: calc(
        var(--text-shadow-size) * var(--huge-hand-shadow-multiplier)
      )
      calc(var(--text-shadow-size) * var(--huge-hand-shadow-multiplier)) 0
      #fed330;
  }
}

.dark-mode .text-gradient {
  text-shadow: none !important;
  --start-grad-color: var(--gradients-a);
  --end-grad-color: var(--gradients-b);
  background: var(--start-grad-color);
  background: -moz-linear-gradient(
    90deg,
    var(--start-grad-color) 0%,
    var(--end-grad-color) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    var(--start-grad-color) 0%,
    var(--end-grad-color) 100%
  );
  background: linear-gradient(
    90deg,
    var(--start-grad-color) 0%,
    var(--end-grad-color) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.divider.grad-a {
  --start-grad-color: var(--gradients-a);
  --end-grad-color: var(--gradients-b);
}

.dark-mode .text-gradient.grad-b,
.divider.grad-b {
  --start-grad-color: var(--gradients-b);
  --end-grad-color: var(--gradients-c);
}

.dark-mode .text-gradient.grad-c,
.divider.grad-c {
  --start-grad-color: var(--gradients-c);
  --end-grad-color: var(--gradients-d);
}

.dark-mode .text-gradient.grad-d,
.divider.grad-d {
  --start-grad-color: var(--gradients-d);
  --end-grad-color: var(--gradients-e);
}

.dark-mode .text-gradient.grad-e,
.divider.grad-e {
  --start-grad-color: var(--gradients-e);
  --end-grad-color: var(--gradients-f);
}

.dark-mode .text-gradient.grad-f,
.divider.grad-f {
  --start-grad-color: var(--gradients-f);
  --end-grad-color: var(--gradients-g);
}

.dark-mode .text-gradient.grad-g,
.divider.grad-g {
  --start-grad-color: var(--gradients-g);
  --end-grad-color: var(--gradients-a);
}

/*!sc*/

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  10% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  20% {
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  30% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  40% {
    -webkit-transform: rotate(9deg);
    -moz-transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    -o-transform: rotate(9deg);
    transform: rotate(9deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
