:root {
    --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
    --inter-font: 'Inter', var(--system-font);
    --manrope-font: 'Manrope', var(--inter-font);
    --code-font: 'Fira Code', Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
    --background: #fafafa;
    --primary: #f6f9fe;
    --accent: #3867d6;
    --accent-light: #88a4e6;
    --accent-dark: #2d52ab;
    --on-accent: #fff;
    --text-primary: rgba(9, 17, 34, .9);
    --text-secondary: rgba(9, 17, 34, .75);
    --divider: rgba(9, 17, 34, .12);
    --base-font-size: 1rem;
    --toolbar-height: 2.4rem;
}

html, body {
    background-color: var(--background);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: calc(var(--toolbar-height) + 1.6rem) 0 0;
    font-family: var(--inter-font);
    font-weight: 400;
    line-height: 1.5;
}

hr {
    margin: 1rem 0;
    height: 1px;
    background-color: var(--divider);
    border: none;
}

pre, code, kbd, samp {
    font-family: var(--code-font);
}

.use-manrope {
    font-family: var(--manrope-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--manrope-font);
}

h1, h2, h3 {
    font-weight: 700;
}

h4, h5, h6 {
    font-weight: 600;
}

h1 {
    font-size: calc(var(--base-font-size) * 3);
}

h2 {
    font-size: calc(var(--base-font-size) * 2.5);
}

h3 {
    font-size: calc(var(--base-font-size) * 2);
}

h4 {
    font-size: calc(var(--base-font-size) * 1.5);
}

h5 {
    font-size: calc(var(--base-font-size) * 1.15);
}

h6, p, body {
    font-size: var(--base-font-size);
}

a,
a:visited {
    color: var(--accent);
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--accent-dark);
    text-decoration: underline solid var(--accent-dark);
    text-decoration-skip: edges;
}

button,
.button {
    background-color: var(--accent);
    color: var(--on-accent);
    border: none;
    border-radius: 4px;
    padding: .4rem .6rem;
    min-height: 42px;
    font-family: var(--manrope-font);
    font-weight: 500;
    letter-spacing: 0.05715em;
    cursor: pointer;
    transition: all .2s ease-in-out !important;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background-color: var(--accent-dark);
    transform: translateY(-.1rem);
}

a.button,
a.button:hover,
a.button:focus,
a.button:active,
a.button:visited {
    text-decoration: none;
}

@media (min-width: 375px) {
    body {
        line-height: 1.8;
    }
}

@media (min-width: 960px) {
    hr {
        margin: 2rem 0;
    }
}
