footer.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--divider);
    margin: 0;
    padding: 2rem 0;
    background-color: var(--primary);
}

footer.footer .container {
    max-width: 880px;
    text-align: center;
}

footer.footer .container p {
    font-size: .9rem;
    margin: 0.8em 0;
}

footer.footer .container p:first-of-type {
    margin-top: 1.2em;
}

footer.footer .container .logito {
    display: inline-flex;
    padding: .4rem;
}

footer.footer .container .logito img,
.logosvg {
    width: 24px;
    height: 24px;
    fill: var(--accent);
    color: var(--accent);
    --fill-color: var(--accent);
}

footer.footer .container .logito:hover .logosvg,
footer.footer .container .logito:focus .logosvg,
.logosvg:hover,
.logosvg:focus {
    fill: var(--accent-dark);
    color: var(--accent-dark);
    --fill-color: var(--accent-dark);
}

@media (min-width: 960px) {
    footer.footer {
        padding: 3rem 0;
    }
}
