footer.footer {
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--divider);
  margin: 0;
  padding: 2rem 0;
  background-color: var(--primary);
}

footer.footer .grid {
  width: calc(100% - 2.8rem);
  max-width: calc(960px - 3rem);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .8rem;
  margin: 0 1.2rem;
}

footer.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
}

footer.footer .container.second {
  align-items: flex-end;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1;
}

footer.footer .container.third {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 3;
}

footer.footer .container.fourth {
  align-items: flex-end;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 3;
}

footer.footer .container.second a,
footer.footer .container.third a,
footer.footer .container.fourth a {
  margin: .4rem 0;
  font-size: calc(var(--base-font-size) * 1.1);
}

footer.footer .container.second a:hover,
footer.footer .container.second a:focus,
footer.footer .container.third a:hover,
footer.footer .container.third a:focus,
footer.footer .container.fourth a:hover,
footer.footer .container.fourth a:focus {
  -webkit-text-decoration-style: solid;
  -webkit-text-decoration-color: var(--shadow-color, var(--accent-dark));
  text-decoration: underline solid var(--shadow-color, var(--accent-dark));
  text-decoration-skip: edges;
}

footer.footer .container.third a,
footer.footer .container.fourth a {
  margin: .3rem 0;
}

footer.footer .container p {
  font-size: .9rem;
  margin: 0 0 .4rem;
}

footer.footer .container p:first-of-type {
  margin-top: .4rem;
}

footer.footer .container .logito {
  font-size: calc(var(--base-font-size) * 1.1);
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  padding: .4rem 0;
  margin-bottom: .2rem;
}

footer.footer .container .logito span {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer.footer .container .logito img,
.logosvg {
  width: 32px;
  height: 32px;
  margin-right: .6rem;
  fill: var(--accent);
  color: var(--accent);
  --fill-color: var(--accent);
}

footer.footer .container .logito:hover .logosvg,
footer.footer .container .logito:focus .logosvg,
.logosvg:hover,
.logosvg:focus {
  fill: var(--accent-dark);
  color: var(--accent-dark);
  --fill-color: var(--accent-dark);
}

@media (min-width: 768px) {
  footer.footer .grid {
    margin: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0;
  }

  footer.footer .container,
  footer.footer .container.second,
  footer.footer .container.third {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  footer.footer .container .logito {
    font-size: calc(var(--base-font-size) * 1.25);
  }

  footer.footer .container.second,
  footer.footer .container.third {
    align-items: center;
  }

  footer.footer .container.third {
    align-items: flex-end;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1;
  }

  footer.footer .container.fourth {
    align-items: flex-end;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 2;
  }

  footer.footer .container.third a:last-of-type {
    margin-bottom: 0;
  }

  footer.footer .container.fourth a:first-of-type {
    margin-top: 0;
  }
}

@media (min-width: 960px) {
  footer.footer {
    padding: 3rem 0;
  }
}
