.projects {
  padding: 1rem 1.2rem 2rem;
}

.projects .selector {
  display: flex;
  flex-direction: row;
}

.projects .selector select {
  height: 24px;
  margin-left: 2rem;
}

.projects .titlecontainer {
  display: flex;
  flex-direction: column;
}

.projects .title {
  text-shadow: var(--text-shadow-size) var(--text-shadow-size) 0 #d1adf4;
}

.projects .titlecontainer .stats,
.projects .titlecontainer .stats:active {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--divider);
  border-radius: 6px;
  padding: .4rem;
  margin-top: 1rem;
  color: var(--text-secondary);
  text-decoration: none;
}

.projects .titlecontainer .stats svg {
  margin-right: .4rem;
  margin-left: .6rem;
  padding-left: .6rem;
  border-left: 1px solid var(--divider);
}

.projects .titlecontainer .stats svg:first-of-type {
  margin-right: .2rem;
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

.projects .titlecontainer .stats:hover,
.projects .titlecontainer .stats:focus {
  color: var(--text-primary);
  text-decoration: none;
}

.projects .grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: masonry;
  grid-auto-flow: row dense;
  grid-gap: 1rem;
  padding: 2rem 0 2.4rem;
}

.projects .grid .item {
  --a-bg-grad-color: rgba(0, 0, 0, 0);
  --b-bg-grad-color: var(--hl-color);
  --c-bg-grad-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid var(--divider);
  transition: all .25s ease-in-out;
}

.projects .grid .item * {
  transition: all .25s ease-in-out;
}

.projects .grid .item:focus,
.projects .grid .item:hover {
  --shadow-color: var(--divider);
  --border-color: var(--accent);
  --hl-color: var(--accent);
  color: var(--text-primary);
  text-decoration: none;
  border-color: var(--border-color);
  -webkit-box-shadow: 0 4px 8px var(--shadow-color);
  -moz-box-shadow: 0 4px 8px var(--shadow-color);
  -o-box-shadow: 0 4px 8px var(--shadow-color);
  box-shadow: 0 4px 8px var(--shadow-color);
  -webkit-transform: translateY(-.1rem);
  -moz-transform: translateY(-.1rem);
  -ms-transform: translateY(-.1rem);
  -o-transform: translateY(-.1rem);
  transform: translateY(-.1rem);
}

.projects .grid .item .preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  max-width: 100%;
  flex: 1;
  opacity: .7;
  /* TODO: Delete this */
  min-height: 256px;
  background: var(--b-bg-grad-color);
  background: -moz-linear-gradient(90deg, var(--a-bg-grad-color) 0%, var(--b-bg-grad-color) 50%, var(--c-bg-grad-color) 100%);
  background: -webkit-linear-gradient(90deg, var(--a-bg-grad-color) 0%, var(--b-bg-grad-color) 50%, var(--c-bg-grad-color) 100%);
  background: linear-gradient(90deg, var(--a-bg-grad-color) 0%, var(--b-bg-grad-color) 50%, var(--c-bg-grad-color) 100%);
}

.projects .grid .item:focus .preview,
.projects .grid .item:focus .preview:hover,
.projects .grid .item:hover .preview,
.projects .grid .item:hover .preview:hover,
.projects .grid .item .preview:hover,
.projects .grid .item .preview:focus {
  opacity: 1;
}

.projects .grid .item .preview img {
  max-width: 100%;
  object-fit: cover;
  max-height: 256px;
}

.projects .grid .item:focus .preview img,
.projects .grid .item:focus .preview:hover img,
.projects .grid .item:hover .preview img,
.projects .grid .item:hover .preview:hover img,
.projects .grid .item .preview:hover img,
.projects .grid .item .preview:focus img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.projects .grid .item .content {
  padding: 1.1rem 1.2rem 1rem;
  margin-top: auto;
}

.projects .grid .item .content .iconTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: .4rem;
  margin-left: -.2rem;
}

.projects .grid .item .content .iconTitle img {
  opacity: 0.8;
}


.projects .grid .item:focus .content .iconTitle img,
.projects .grid .item:hover .content .iconTitle img {
  opacity: 1;
  -webkit-transform: scale(1.05) rotate(-2.5deg);
  -moz-transform: scale(1.05) rotate(-2.5deg);
  -ms-transform: scale(1.05) rotate(-2.5deg);
  -o-transform: scale(1.05) rotate(-2.5deg);
  transform: scale(1.05) rotate(-2.5deg);
}

.projects .grid .item .content .iconTitle h4 {
  margin-left: .9rem;
  font-size: calc(var(--base-font-size) * 1.75);
}

.projects .grid .item:focus .content .iconTitle h4,
.projects .grid .item:hover .content .iconTitle h4 {
  color: var(--hl-color);
  text-decoration: underline;
  -webkit-text-decoration-style: solid;
  -webkit-text-decoration-color: var(--hl-color);
  text-decoration: underline solid var(--hl-color);
}

.projects .grid .item .content p,
.projects .grid .item:active .content p,
.projects .grid .item:visited .content p {
  color: var(--text-secondary);
  text-decoration: none;
}

.projects .grid .item:focus .content p,
.projects .grid .item:hover .content p {
  color: var(--text-primary);
}

@media (min-width: 400px) {
  .projects .titlecontainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .projects .titlecontainer .stats {
    margin-top: 0;
  }
}

@media (min-width: 640px) {
  .projects .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .projects {
    padding: 1rem 0 3rem;
  }

  .projects .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
