.projects {
  padding: 1rem 1.2rem 2rem;
}

.projects .selector {
  display: flex;
  flex-direction: row;
}

.projects .selector select {
  height: 24px;
  margin-left: 2rem;
}

.projects .titlecontainer {
  display: flex;
  flex-direction: column;
  margin-bottom: .4rem;
}

.projects .titlebtncontainer {
  display: flex;
  flex-direction: column;
}

.projects .title {
  text-shadow: var(--text-shadow-size) var(--text-shadow-size) 0 var(--dark-gradients-c);
}

.projects .titlecontainer .stats,
.projects .titlecontainer .stats:active {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--divider);
  border-radius: 6px;
  padding: 0.4rem;
  margin-top: 1rem;
  color: var(--text-secondary);
  text-decoration: none;
}

.projects .titlecontainer .stats svg {
  margin-right: 0.4rem;
  margin-left: 0.6rem;
  padding-left: 0.6rem;
  border-left: 1px solid var(--divider);
}

.projects .titlecontainer .stats svg:first-of-type {
  margin-right: 0.2rem;
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

.projects .titlecontainer .stats:hover,
.projects .titlecontainer .stats:focus {
  color: var(--text-primary);
  text-decoration: none;
}

.projects .grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: masonry;
  grid-auto-flow: row dense;
  grid-gap: 1.4rem;
  padding: 2rem 0 2.4rem;
  position: relative;
}

.projects .grid .item {
  --gradient-angle: 135deg;
  --a-bg-grad-color: rgba(0, 0, 0, 0);
  --b-bg-grad-color: var(--hl-color);
  --c-bg-grad-color: rgba(0, 0, 0, 0);
  display: block;
  position: relative;
  height: 192px;
  max-height: 192px;
  border-radius: 12px;
  border: 1px solid var(--divider);
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  padding: 0;
  margin: 0;

  background: var(--b-bg-grad-color);
  background: -moz-linear-gradient(
    var(--gradient-angle),
    var(--a-bg-grad-color) 0%,
    var(--b-bg-grad-color) 60%,
    var(--c-bg-grad-color) 100%
  );
  background: -webkit-linear-gradient(
    var(--gradient-angle),
    var(--a-bg-grad-color) 0%,
    var(--b-bg-grad-color) 60%,
    var(--c-bg-grad-color) 100%
  );
  background: linear-gradient(
    var(--gradient-angle),
    var(--a-bg-grad-color) 0%,
    var(--b-bg-grad-color) 60%,
    var(--c-bg-grad-color) 100%
  );
}

.projects .grid .item * {
  position: relative;
  transition: all 0.25s ease-in-out;
}

.projects .grid .item:focus,
.projects .grid .item:hover {
  --shadow-color: var(--divider);
  --border-color: var(--accent);
  --hl-color: var(--accent);
  color: var(--text-primary);
  text-decoration: none;
  border-color: var(--border-color);
  -webkit-box-shadow: 0 6px 8px var(--shadow-color);
  -moz-box-shadow: 0 6px 8px var(--shadow-color);
  -o-box-shadow: 0 6px 8px var(--shadow-color);
  box-shadow: 0 6px 8px var(--shadow-color);
  -webkit-transform: translateY(-0.1rem);
  -moz-transform: translateY(-0.1rem);
  -ms-transform: translateY(-0.1rem);
  -o-transform: translateY(-0.1rem);
  transform: translateY(-0.1rem);
}

.projects .grid .item .preview {
  position: absolute;
  transform: translateX(25%) translateY(20%);
  height: 192px;
  max-height: 192px;
  border-radius: 12px;
}

.projects .grid .item .preview *,
.projects .grid .item .preview * img {
  height: 168px !important;
  max-height: 168px !important;
  object-fit: contain !important;
}

.projects .grid .item:focus .preview,
.projects .grid .item:focus .preview:hover,
.projects .grid .item:hover .preview,
.projects .grid .item:hover .preview:hover,
.projects .grid .item .preview:hover,
.projects .grid .item .preview:focus {
  opacity: 1;
}

.projects .grid .item .preview img {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: cover;
}

.projects .grid .item:focus .preview img,
.projects .grid .item:focus .preview:hover img,
.projects .grid .item:hover .preview img,
.projects .grid .item:hover .preview:hover img,
.projects .grid .item .preview:hover img,
.projects .grid .item .preview:focus img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.projects .grid .item .content {
  height: 100%;
  max-height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--projects-card-color);
}

.projects .grid .item:hover .content,
.projects .grid .item:focus .content {
  background-color: var(--projects-card-color-hover);
  -webkit-backdrop-filter: saturate(150%) blur(8px);
  backdrop-filter: saturate(150%) blur(8px);
}

.projects .grid .item .content .wrapper {
  padding: 1.1rem 1.2rem 1rem;
  transform: translateY(-5%);
}

.projects .grid .item:hover .content .wrapper,
.projects .grid .item:focus .content .wrapper {
  transform: translateY(0);
}

.projects .grid .item .content .iconTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.4rem;
  margin-left: -0.2rem;
  text-shadow: 1px 2px 2px var(--projects-card-text-shadow);
}

.projects .grid .item .content .iconTitle img {
  opacity: 0.9;
  filter: drop-shadow(0 1px 2px var(--projects-card-text-shadow));
}

.projects .grid .item:focus .content .iconTitle img,
.projects .grid .item:hover .content .iconTitle img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.projects .grid .item .content .iconTitle h5 {
  margin-left: 0.9rem;
  font-size: calc(var(--base-font-size) * 1.75);
}

.projects .grid .item:focus .content .iconTitle h5,
.projects .grid .item:hover .content .iconTitle h5 {
  color: var(--hl-color);
  text-decoration: underline;
  -webkit-text-decoration-style: solid;
  -webkit-text-decoration-color: var(--hl-color);
  text-decoration: underline solid var(--hl-color);
}

.projects .grid .item .content p {
  font-size: 0.95rem;
}

.projects .grid .item .content p,
.projects .grid .item:active .content p,
.projects .grid .item:visited .content p {
  opacity: 0;
  color: var(--text-primary);
  text-decoration: none;
  pointer-events: none;
  visibility: hidden;
  user-select: none;
}

.projects .grid .item:focus .content p,
.projects .grid .item:hover .content p {
  user-select: unset;
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  color: var(--text-primary);
}

.projects .grid .item .content .stack {
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.6rem;
}

.projects .grid .item .content .stack li {
  height: 24px;
  width: 24px;
}

.projects .grid .item .content .stack li.nomr {
}

.projects .grid .item .content .stack li:not(:last-of-type):not(.nomr) {
  margin-right: 0.5rem;
}

.projects .grid .item:focus .content .stack,
.projects .grid .item:focus .content .stack:hover,
.projects .grid .item:hover .content .stack,
.projects .grid .item:hover .content .stack:hover,
.projects .grid .item .content .stack:hover,
.projects .grid .item .content .stack:focus {
  opacity: 1;
}

@media (min-width: 400px) {
  .projects .titlecontainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .projects .titlecontainer .stats {
    margin-top: 0;
  }
}

@media (min-width: 640px) {
  .projects .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects .grid .item,
  .projects .grid .item .preview {
    height: 224px;
    max-height: 224px;
  }

  .projects .grid .item .preview {
    transform: translateX(25%) translateY(15%);
  }

  .projects .grid .item .content .wrapper {
    padding: 1.1rem 1.45rem 1rem;
    transform: translateY(-11%);
  }

  .projects .grid .item:hover .content .wrapper,
  .projects .grid .item:focus .content .wrapper {
    transform: translateY(0);
  }

  .projects .grid .item .preview *,
  .projects .grid .item .preview * img {
    height: 256px !important;
    max-height: 256px !important;
  }

  .projects .grid .item .content p {
    font-size: unset;
  }
}

@media (min-width: 960px) {
  .projects {
    padding: 1rem 0 3rem;
  }

  .projects .grid .item .preview {
    transform: translateX(50%) translateY(6%);
  }
}
