@import "./../fonts/mdi/materialdesignicons.css";
@import "./../fonts/manrope/manrope.css";
@import "./../fonts/inter/inter.css";
@import "./../fonts/firacode/fira_code.css";
@import "./bounce.css";
@import "./dark.css";
@import "./social-links.css";

:root {
    --transparent: rgba(0, 0, 0, 0);
    --white: #fff;
    --black: #000;

    --blue-100: #d7e1f7;
    --blue-200: #afc2ef;
    --blue-300: #88a4e6;
    --blue-400: #6085de;
    --blue-500: #3867d6;
    --blue-600: #2d52ab;
    --blue-700: #223e80;
    --blue-800: #162956;
    --blue-900: #0b152b;

    --green-100: #d2f2e1;
    --green-200: #a6e5c4;
    --green-300: #79d9a6;
    --green-400: #4dcc89;
    --green-500: #20bf6b;
    --green-600: #1a9956;
    --green-700: #137340;
    --green-800: #0d4c2b;
    --green-900: #062615;

    --red-100: #fbd8de;
    --red-200: #f7b1bd;
    --red-300: #f3899c;
    --red-400: #ef627b;
    --red-500: #eb3b5a;
    --red-600: #bc2f48;
    --red-700: #8d2336;
    --red-800: #5e1824;
    --red-900: #2f0c12;

    --amber-100: #fdf1d6;
    --amber-200: #fce2ad;
    --amber-300: #fad483;
    --amber-400: #f9c55a;
    --amber-500: #f7b731;
    --amber-600: #c69227;
    --amber-700: #946e1d;
    --amber-800: #634914;
    --amber-900: #31250a;

    --text-shadow-amber: #fed330;
    --text-shadow-blue: #97d0f8;
    --text-shadow-green: #26de81;
    --text-shadow-red: #fd7d84;
    --text-shadow-purple: #c598f1;
    --text-shadow-orange: #fd9644;

    --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --inter: "Inter", var(--system-font);
    --manrope: "Manrope", var(--inter);

    --primary: #f6f9fe;
    --primary-dark: #ebf0fb;
    --background: var(--white);
    --card-bg-color: var(--white);

    --accent-light: var(--blue-300);
    --accent: var(--blue-500);
    --accent-dark: var(--blue-600);
    --accent-darker: var(--blue-800);

    --primary-text: rgba(9, 17, 34, 1);
    --secondary-text: rgba(9, 17, 34, .9);
    --tertiary-text: rgba(9, 17, 34, .75);
    --dividers: rgba(9, 17, 34, .12);

    --primary-text-inverted: var(--white);
    --secondary-text-inverted: rgba(255, 255, 255, .85);
    --tertiary-text-inverted: rgba(255, 255, 255, .7);
    --dividers-inverted: rgba(255, 255, 255, .12);

    --shadow-a: rgba(100, 100, 100, .4);
    --shadow-b: rgba(100, 100, 100, .28);
    --shadow-c: rgba(100, 100, 100, .24);

    --accent-shadow-a: rgba(56, 103, 214, .4);
    --accent-shadow-b: rgba(56, 103, 214, .28);
    --accent-shadow-c: rgba(56, 103, 214, .24);

    --summary-btn-height: 2rem;

    --bmac-bg: #5f7fff;
    --bmac-bg-hover: #4c66cc;
    --bmac-text: #fff;
}

body,
section,
.card, .button, .tag,
.filters, .filters * {
    --transition-duration: .25s;
    -webkit-transition: background-color ease-in-out var(--transition-duration);
    -moz-transition: background-color ease-in-out var(--transition-duration);
    -ms-transition: background-color ease-in-out var(--transition-duration);
    -o-transition: background-color ease-in-out var(--transition-duration);
    transition: background-color ease-in-out var(--transition-duration);
}

html, body, main {
    background-color: var(--background);
    color: var(--secondary-text);
    scroll-behavior: smooth;
    line-height: 1.6 !important;
    font-weight: 500;
}

html, body, main, .use-inter {
    font-family: var(--inter);
}

@media only screen and (min-width: 375px) {
    *, body, html, main {
        line-height: 1.8 !important;
        white-space: normal !important;
        text-overflow: word !important;
        overflow-wrap: word !important;
        word-wrap: word !important;
        -ms-word-break: word !important;
        word-break: word !important;
        -ms-hyphens: auto !important;
        -moz-hyphens: auto !important;
        -webkit-hyphens: auto !important;
        hyphens: auto !important;
    }
}

.use-manrope,
h1, h2, h3, h4 {
    font-family: var(--manrope);
}

h1, h2, h3, h4,
.content h1,
.content h2,
.content h3,
.content h4,
.is-primary-text {
    color: var(--primary-text);
}

h5, h6, p, em, strong,
.content h5,
.content h6,
.content p,
.content em,
.content strong,
.is-secondary-text {
    color: var(--secondary-text);
}

em,
p em,
strong,
p strong {
    color: var(--secondary-text);
}

.is-tertiary-text {
    color: var(--tertiary-text);
}

h1,
.content h1,
.is-size-1 {
    font-size: 3rem !important;
    font-weight: 700 !important;
}

h2,
.content h2,
.is-size-2 {
    font-size: 2.5rem !important;
    font-weight: 700 !important;
}

h3,
.content h3,
.is-size-3 {
    font-size: 2rem !important;
    font-weight: 700 !important;
}

h4,
.content h4,
.is-size-4 {
    font-size: 1.6rem !important;
    font-weight: 600 !important;
}

h5,
.content h5,
.is-size-5 {
    font-size: 1.3rem !important;
    font-weight: 600 !important;
}

h6,
.content h6,
.is-size-6,
.is-size-7 {
    font-size: 1rem !important;
    font-weight: 500 !important;
}

p,
.content p,
.content ul li {
    font-size: 1rem;
    font-weight: 500;
}

.hero {
    z-index: 1;
}

#particles-bg {
    position: fixed !important;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    z-index: 0 !important;
}

hr {
    margin: 0;
    height: 1px;
    background-color: var(--dividers);
}

p a:not(.donation-button),
.content ul li a:not(.donation-button) {
    color: var(--accent);
}

p a:not(.donation-button):active,
p a:not(.donation-button):hover,
p a:not(.donation-button):focus,
.content ul li a:not(.donation-button):active,
.content ul li a:not(.donation-button):hover,
.content ul li a:not(.donation-button):focus {
    color: var(--accent);
    text-decoration: underline wavy var(--accent) !important;
    text-decoration-skip: ink !important;
}

a, button, .button, a > *, .button > *, a *, .button * {
    cursor: pointer !important;
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

summary::-webkit-details-marker {
    color: var(--primary-text-inverted);
    padding-right: 0; /* .2rem */
    display: none;
}

@keyframes sweep {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

details summary.button {
    min-height: var(--summary-btn-height);
    height: var(--summary-btn-height);
    padding: .2rem .6rem;
}

details summary.button .mdi {
    margin-right: .4rem;
}

details summary.button .mdi::before {
    content: "\F0415";
}

details[open] summary.button .mdi::before {
    content: "\F0374";
}

/*noinspection CssInvalidPseudoSelector*/
_::-webkit-full-page-media, _:future, :root details summary.button {
    display: block;
    text-align: center;
    min-height: var(--summary-btn-height);
    height: var(--summary-btn-height);
    min-width: 148px;
    margin-left: auto;
    margin-right: auto;
    padding-top: .4rem;
    padding-bottom: 0;
}

@media only screen and (min-width: 375px) {
    /*noinspection CssInvalidPseudoSelector*/
    _::-webkit-full-page-media, _:future, :root details summary.button {
        display: block;
        text-align: center;
        min-height: var(--summary-btn-height);
        height: var(--summary-btn-height);
        min-width: 148px;
        margin-left: auto;
        margin-right: auto;
        padding-top: .2rem;
        padding-bottom: .2rem;
    }
}

@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio: 0) {
    @media {
        details summary.button {
            display: block;
            text-align: center;
            min-height: var(--summary-btn-height);
            height: var(--summary-btn-height);
            min-width: 148px;
            margin-left: auto;
            margin-right: auto;
            padding-top: .4rem;
            padding-bottom: 0;
        }
    }
}

@media not all and (min-resolution: .001dpcm) {
    @media {
        details summary.button {
            display: block;
            text-align: center;
            min-height: var(--summary-btn-height);
            height: var(--summary-btn-height);
            min-width: 148px;
            margin-left: auto;
            margin-right: auto;
            padding-top: .4rem;
            padding-bottom: 0;
        }
    }
}

details p {
    margin-top: .6rem;
}

section.colored,
.footer {
    background-color: #f6f9fe;
}

.footer {
    padding: 4.2rem 1.6rem;
}

.button {
    font-family: var(--manrope);
    font-size: 1.05rem;
    font-weight: 600;
    border-color: var(--transparent);
    -webkit-box-shadow: 0 3px 1px -2px var(--shadow-a), 0 2px 2px 0 var(--shadow-b), 0 1px 5px 0 var(--shadow-c) !important;
    -moz-box-shadow: 0 3px 1px -2px var(--shadow-a), 0 2px 2px 0 var(--shadow-b), 0 1px 5px 0 var(--shadow-c) !important;
    box-shadow: 0 3px 1px -2px var(--shadow-a), 0 2px 2px 0 var(--shadow-b), 0 1px 5px 0 var(--shadow-c) !important;
    -webkit-transition: all ease-in-out .2s !important;
    -moz-transition: all ease-in-out .2s !important;
    -ms-transition: all ease-in-out .2s !important;
    -o-transition: all ease-in-out .2s !important;
    transition: all ease-in-out .2s !important;
}

.button:hover,
.button:focus,
.button:active,
.button.is-active {
    -webkit-transform: translateY(-.1rem);
    -moz-transform: translateY(-.1rem);
    -ms-transform: translateY(-.1rem);
    -o-transform: translateY(-.1rem);
    transform: translateY(-.1rem);
    border-color: var(--transparent);
    -webkit-box-shadow: 0 2px 4px -1px var(--shadow-a), 0 4px 5px 0 var(--shadow-b), 0 1px 10px 0 var(--shadow-c) !important;
    -moz-box-shadow: 0 2px 4px -1px var(--shadow-a), 0 4px 5px 0 var(--shadow-b), 0 1px 10px 0 var(--shadow-c) !important;
    box-shadow: 0 2px 4px -1px var(--shadow-a), 0 4px 5px 0 var(--shadow-b), 0 1px 10px 0 var(--shadow-c) !important;
}

.button.is-primary {
    --shadow-a: var(--accent-shadow-a);
    --shadow-b: var(--accent-shadow-b);
    --shadow-c: var(--accent-shadow-c);
    background-color: var(--accent);
    color: var(--primary-text-inverted);
}

.button.is-primary:hover,
.button.is-primary:focus,
.button.is-primary:active,
.button.is-primary.is-active {
    background-color: var(--accent-dark);
    color: var(--primary-text-inverted);
}

.has-text-left {
    text-align: start !important;
}

.has-text-right {
    text-align: end !important;
}

.down-indicator {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.mdi.mdi-30px:before {
    font-size: 30px;
}

.column.center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-shadow {
    --text-shadow-color: var(--transparent);
    --text-shadow-size: 3px;
    text-shadow: var(--text-shadow-size) var(--text-shadow-size) 0 var(--text-shadow-color);
}

.text-shadow.is-amber {
    --text-shadow-color: var(--text-shadow-amber);
}

.text-shadow.is-blue {
    --text-shadow-color: var(--text-shadow-blue);
}

.text-shadow.is-red {
    --text-shadow-color: var(--text-shadow-red);
}

.text-shadow.is-green {
    --text-shadow-color: var(--text-shadow-green);
}

.text-shadow.is-purple {
    --text-shadow-color: var(--text-shadow-purple);
}

.text-shadow.is-orange {
    --text-shadow-color: var(--text-shadow-orange);
}

.text-shadow.is-small {
    --text-shadow-size: 2px;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.content ul.social-links {
    list-style: none;
    margin-left: 0;
    margin-top: .8rem;
}

.social-links li {
    display: inline-block;
}

.social-links:not(.donation-buttons) li:not(:first-child) {
    margin-left: .6rem;
}

.card {
    --bord-col: rgba(116, 125, 140, .1);
    --shadow-col: rgba(116, 125, 140, .25);
    --bord-hover-col: var(--bord-col);
    --shadow-hover-col: var(--shadow-col);
    --link-col: var(--accent);
    background-color: var(--card-bg-color);
    border-radius: 6px !important;
    -webkit-box-shadow: 0 2px 3px var(--bord-col), 0 0 0 1px var(--bord-col);
    -moz-box-shadow: 0 2px 3px var(--bord-col), 0 0 0 1px var(--bord-col);
    box-shadow: 0 2px 3px var(--bord-col), 0 0 0 1px var(--bord-col);
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}

.is-dark .card {
    --bord-col: rgba(175, 194, 239, .1);
    --shadow-col: rgba(175, 194, 239, .25);
}

.card:not(.change):hover,
.card:not(.change):focus {
    -webkit-box-shadow: 0 4px 12px 1px var(--shadow-hover-col), 0 0 0 1px var(--bord-hover-col);
    -moz-box-shadow: 0 4px 12px 1px var(--shadow-hover-col), 0 0 0 1px var(--bord-hover-col);
    box-shadow: 0 4px 12px 1px var(--shadow-hover-col), 0 0 0 1px var(--bord-hover-col);
    -webkit-transform: translate(0, -.12rem);
    -moz-transform: translate(0, -.12rem);
    -ms-transform: translate(0, -.12rem);
    -o-transform: translate(0, -.12rem);
    transform: translate(0, -.12rem);
}

code {
    background-color: rgba(0, 0, 0, .05);
    color: var(--accent);
    font-family: 'Fira Code', monospace;
    padding: .3em;
    border-radius: 2px;
}
