.blm {
    background-color: #000;
    color: #fff;
    font-family: var(--manrope);
    z-index: 1;
    min-height: 2rem;
    padding: .8rem 1.2rem 1.6rem;
    text-align: center;
}

.blm * {
    background-color: #000;
    color: #fff;
}

.blm a.big-link {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 3;
}

.blm a {
    color: var(--blue-200) !important;
}

.blm a:hover,
.blm a:focus,
.blm a:active,
.blm a.is-active {
    color: var(--blue-100) !important;
    text-decoration: underline !important;
}
