@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-1rem);
    }
}

@-moz-keyframes bounce {
    0%, 100% {
        -moz-transform: translateY(0);
    }
    50% {
        -moz-transform: translateY(-1rem);
    }
}

@-o-keyframes bounce {
    0%, 100% {
        -o-transform: translateY(0);
    }
    50% {
        -o-transform: translateY(-1rem);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1rem);
    }
}
