@font-face {
    font-family: "Fira Code";
    src: url(https://github.com/tonsky/FiraCode/raw/master/distr/ttf/FiraCode-Retina.ttf) format("monospace");
}

#changes .container {
    max-width: 100% !important;
}

@media screen and (min-width: 1024px) {
    #changes .container {
        max-width: 80% !important;
        width: 80% !important;
    }
}

@media screen and (min-width: 1280px) {
    #changes .container {
        max-width: 65% !important;
        width: 65% !important;
    }
}

#changes-content .tag:not(body).is-medium {
    font-size: .8rem !important;
    padding-top: .1rem !important;
    margin-bottom: .2rem !important;
    margin-left: .4rem !important;
}

.content ul {
    margin-left: 1em !important;
}

a.button {
    margin-top: .6rem !important;
    border-color: transparent !important;
}

.button.is-github {
    background-color: #333 !important;
    color: #fff !important;
}

.button.is-github:hover,
.button.is-github:focus,
.button.is-github.is-active:focus,
.button.is-github.is-active:hover {
    background-color: #3f3f3f !important;
    --shadow-col-a: rgba(45, 45, 45, .2);
    --shadow-col-b: rgba(45, 45, 45, .14);
    --shadow-col-c: rgba(45, 45, 45, .12);
}

#changes .box {
    padding: 2rem !important;
}

.button.is-loading {
    color: var(--primary-text) !important;
    padding-left: 3.6rem !important;
    border: none transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
}

.button.is-loading:hover,
.button.is-loading:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.button.is-loading::after {
    left: 1rem !important;
    top: calc(50% - (1em / 2) - .1em) !important;
}

.button.is-loading::after, .control.is-loading::after, .select.is-loading::after {
    border-bottom-color: var(--accent) !important;
    border-left-color: var(--accent) !important;
}

a.button.is-paypal {
    background-color: #003087;
    color: #fff;
    --shadow-a: rgba(0, 48, 135, .4);
    --shadow-b: rgba(0, 48, 135, .28);
    --shadow-c: rgba(0, 48, 135, .24);
}

.tag:not(body).is-primary {
    background-color: var(--accent);
    color: var(--secondary-text-inverted);
}

.card.change {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card.change .release-body {
    margin-top: 1.6rem;
}

.card.change .card-footer {
    margin-top: auto;
    border-top-color: var(--dividers);
    padding-top: .2rem;
    padding-bottom: .8rem;
}

.card.change .card-footer .buttons .button {
    min-height: 2.4rem;
    border-radius: 5px;
}

.card.change .card-footer .buttons.is-centered:not(.has-addons) .button:not(.is-fullwidth) {
    margin-right: .4rem;
    margin-left: .4rem;
}

a.button.is-crowdin {
    --social-color: #5bc07a;
    --social-color-inverted: rgba(0, 0, 0, .9);
    --shadow-a: rgba(67, 160, 71, .4);
    --shadow-b: rgba(67, 160, 71, .28);
    --shadow-c: rgba(67, 160, 71, .24);
    background-color: var(--social-color);
    color: var(--social-color-inverted);
}
