/*
@media (prefers-color-scheme: dark) {
    :root {
        --primary: #091122;
        --primary-dark: #070d1a;
        --background: var(--primary);

        --accent-light: var(--blue-100);
        --accent: var(--blue-300);
        --accent-dark: var(--blue-400);
        --accent-darker: var(--blue-600);

        --primary-text: var(--white);
        --secondary-text: rgba(255, 255, 255, .85);
        --tertiary-text: rgba(255, 255, 255, .7);
        --dividers: rgba(255, 255, 255, .12);

        --text-shadow-amber: var(--transparent);
        --text-shadow-blue: var(--transparent);
        --text-shadow-green: var(--transparent);
        --text-shadow-red: var(--transparent);
        --text-shadow-purple: var(--transparent);
    }
}
*/

.is-dark,
.is-dark * {
    --primary: #091122;
    --primary-dark: #050911;
    --background: var(--primary);

    --accent-light: var(--blue-300);
    --accent: var(--blue-300);
    --accent-dark: var(--blue-400);
    --accent-darker: var(--blue-500);

    --primary-text: var(--white);
    --secondary-text: rgba(255, 255, 255, .85);
    --tertiary-text: rgba(255, 255, 255, .7);
    --dividers: rgba(255, 255, 255, .12);

    --primary-text-inverted: rgba(9, 17, 34, 1);
    --secondary-text-inverted: rgba(9, 17, 34, .9);
    --tertiary-text-inverted: rgba(9, 17, 34, .75);
    --dividers-inverted: rgba(9, 17, 34, .12);

    --text-shadow-amber: var(--transparent);
    --text-shadow-blue: var(--transparent);
    --text-shadow-green: var(--transparent);
    --text-shadow-red: var(--transparent);
    --text-shadow-purple: var(--transparent);
    --text-shadow-orange: var(--transparent);

    --accent-shadow-a: rgba(136, 164, 230, .4);
    --accent-shadow-b: rgba(136, 164, 230, .28);
    --accent-shadow-c: rgba(136, 164, 230, .24);
}

.is-dark section.colored,
.is-dark .footer,
.is-dark .hero-foot {
    background-color: var(--background);
}
