.content {
    margin: auto;
    max-width: 75%;
}

a.social-link.is-bmac,
a.social-link.is-kofi,
a.social-link.is-liberapay,
a.social-link.is-patreon {
    --social-color-inverted: rgba(9, 17, 34, .65);
}

a.social-link.is-bmac:hover,
a.social-link.is-bmac:focus,
a.social-link.is-bmac:active,
a.social-link.is-kofi:hover,
a.social-link.is-kofi:focus,
a.social-link.is-kofi:active,
a.social-link.is-liberapay:hover,
a.social-link.is-liberapay:focus,
a.social-link.is-liberapay:active,
a.social-link.is-patreon:hover,
a.social-link.is-patreon:focus,
a.social-link.is-patreon:active {
    --social-color-inverted: rgba(9, 17, 34, .8);
}

a.social-link.is-bmac {
    --social-color: #ff813f;
    --shadow-a: rgba(255, 129, 63, .4);
    --shadow-b: rgba(255, 129, 63, .28);
    --shadow-c: rgba(255, 129, 63, .24);
}

a.social-link.is-paypal {
    --social-color: #003087;
    --shadow-a: rgba(0, 48, 135, .4);
    --shadow-b: rgba(0, 48, 135, .28);
    --shadow-c: rgba(0, 48, 135, .24);
}

a.social-link.is-kofi {
    --social-color: #52a9db;
    --shadow-a: rgba(82, 169, 219, .4);
    --shadow-b: rgba(82, 169, 219, .28);
    --shadow-c: rgba(82, 169, 219, .24);
}

a.social-link.is-donorbox {
    --social-color: var(--accent);
    --shadow-a: var(--accent-shadow-a);
    --shadow-b: var(--accent-shadow-b);
    --shadow-c: var(--accent-shadow-c);
}

a.social-link.is-liberapay {
    --social-color: #f6c914;
    --shadow-a: rgba(246, 201, 20, .4);
    --shadow-b: rgba(246, 201, 20, .28);
    --shadow-c: rgba(246, 201, 20, .24);
}

a.social-link.is-patreon {
    --social-color: #e85b46;
    --shadow-a: rgba(232, 91, 70, .4);
    --shadow-b: rgba(232, 91, 70, .28);
    --shadow-c: rgba(232, 91, 70, .24);
}

.buttons .button {
    margin-bottom: .8rem;
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
    margin-right: .8rem;
}

.buttons.is-centered:not(.has-addons) .button:not(.is-fullwidth) {
    margin-left: .4rem;
    margin-right: .4rem;
}

a.button.is-supporter {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    padding: -.2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

a.button.is-supporter img {
    width: 100%;
    height: auto;
}

#thanks {
    padding-bottom: 2.4rem;
}
