@import "./base.css";

.navbar.has-shadow {
    background-color: var(--primary) !important;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .08), 0 3px 4px 0 rgba(0, 0, 0, .06), 0 1px 5px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .08), 0 3px 4px 0 rgba(0, 0, 0, .06), 0 1px 5px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .08), 0 3px 4px 0 rgba(0, 0, 0, .06), 0 1px 5px 0 rgba(0, 0, 0, .2);
}

.navbar {
    flex-direction: column;
}

.navbar.container {
    display: flex;
    flex-direction: row;
}

.navbar .progress,
.navbar .progress:not(:last-child) {
    margin: 0;
    border-radius: 0;
    height: 20px;
    background-color: var(--primary);
    color: var(--accent);
    display: none;
}

progress[value]::-webkit-progress-bar {
    background-color: var(--primary);
}

progress[value]::-webkit-progress-value {
    background-color: var(--accent);
}

:not(.navbar-brand) .navbar-link,
:not(.navbar-brand) a.navbar-item {
    background-color: var(--primary);
    color: var(--secondary-text);
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
    padding-top: .7rem;
    background-color: var(--primary-dark);
    color: var(--secondary-text);
    border-bottom: 3px solid var(--secondary-text);
}

.navbar-item.is-active,
.navbar-item:focus,
.navbar-item:focus-within,
.navbar-item:hover {
    background-color: var(--primary-dark);
    color: var(--accent);
}

.navbar-link.is-active,
a.navbar-item.is-active {
    color: var(--accent);
    border-bottom: 3px solid var(--accent);
}

.navbar-brand .navbar-item {
    padding-left: 0;
    color: var(--accent);
}

.navbar-brand .navbar-item img {
    max-height: 1.75rem;
}

.navbar-brand a.navbar-item {
    color: var(--accent);
}

.navbar-brand .navbar-link.is-active,
.navbar-brand .navbar-link:focus,
.navbar-brand .navbar-link:focus-within,
.navbar-brand .navbar-link:hover,
.navbar-brand a.navbar-item.is-active,
.navbar-brand a.navbar-item:focus,
.navbar-brand a.navbar-item:focus-within,
.navbar-brand a.navbar-item:hover {
    padding-top: .5rem;
    color: var(--accent);
    background-color: var(--primary-dark);
    border-bottom: none;
}

.navbar-burger,
.navbar-burger.is-active,
.navbar-burger:hover,
.navbar-burger:focus,
.navbar-burger:active {
    color: var(--accent);
}

.navbar-burger.is-active,
.navbar-burger:hover,
.navbar-burger:focus,
.navbar-burger:active {
    background-color: var(--primary-dark);
}

.navbar-burger span {
    height: 2px;
    width: 20px;
}

.navbar-burger span:nth-child(2) {
    top: calc(50%);
}

.navbar-burger:not(.is-active) span:nth-child(3) {
    top: calc(50% + 6px);
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: var(--primary);
        box-shadow: none;
        padding-bottom: 0;
        padding-top: 0;
    }

    .navbar-link,
    .navbar-item,
    a.navbar-item {
        padding-top: .75rem;
        padding-bottom: .75rem;
    }

    .navbar-link.is-active,
    .navbar-link:focus,
    .navbar-link:focus-within,
    .navbar-link:hover,
    .navbar-item.is-active,
    .navbar-item:focus,
    .navbar-item:focus-within,
    .navbar-item:hover,
    a.navbar-item.is-active,
    a.navbar-item:focus,
    a.navbar-item:focus-within,
    a.navbar-item:hover {
        padding-top: .75rem;
        padding-bottom: .75rem;
        border-bottom: none;
        background-color: var(--primary-dark);
    }

    .navbar-brand .navbar-link.is-active,
    .navbar-brand .navbar-link:focus,
    .navbar-brand .navbar-link:focus-within,
    .navbar-brand .navbar-link:hover,
    .navbar-brand a.navbar-item.is-active,
    .navbar-brand a.navbar-item:focus,
    .navbar-brand a.navbar-item:focus-within,
    .navbar-brand a.navbar-item:hover {
        padding-top: .75rem;
    }
}

.navbar-item {
    cursor: pointer;
    color: var(--secondary-text);
}

.navbar-item:hover,
.navbar-item:focus,
.navbar-item:active,
.navbar-item.is-active {
    color: var(--accent);
}

.avatar {
    margin: auto;
    width: 168px;
    height: 168px;
    border-radius: 50%;
    background-color: var(--primary-dark);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .25s ease-in;
    -webkit-box-shadow: 3px 3px 0 0 var(--text-shadow-blue);
    -moz-box-shadow: 3px 3px 0 0 var(--text-shadow-blue);
    box-shadow: 3px 3px 0 0 var(--text-shadow-blue);
}

#theme-switch.navbar-link {
    cursor: default;
}

#theme-switch.navbar-link.is-active,
#theme-switch.navbar-link:focus,
#theme-switch.navbar-link:focus-within,
#theme-switch.navbar-link:hover,
#theme-switch.navbar-item.is-active,
#theme-switch.navbar-item:focus,
#theme-switch.navbar-item:focus-within,
#theme-switch.navbar-item:hover {
    background: var(--primary);
    cursor: default;
}

#theme-switch.navbar-item button.button {
    box-shadow: none !important;
    background: rgba(0, 0, 0, 0) !important;;
    border-color: rgba(0, 0, 0, .24) !important;;
    border-width: 1px !important;;
    border-radius: 3px !important;;
    font-size: .85rem !important;;
    padding-top: .25rem !important;;
    cursor: pointer !important;;
}

#theme-switch.navbar-item button.button:hover,
#theme-switch.navbar-item button.button:focus,
#theme-switch.navbar-item button.button:active,
#theme-switch.navbar-item button.button.is-active {
    -webkit-transform: translateY(0) !important;
    -moz-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    -o-transform: translateY(0) !important;
    transform: translateY(0) !important;
    border-color: var(--accent) !important;;
    color: var(--accent) !important;;
    cursor: pointer !important;;
}
