.blog {
    padding: 2rem 1.2rem;
}

.blog .title {
    text-shadow: 2px 2px 0 #fed330;
}

.blog .posts {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 0;
}

.blog .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    min-height: 96px;
    border-radius: 8px;
    border: 1px solid var(--divider);
    cursor: pointer;
    transition: all .25s ease-in-out;
    margin: .4rem;
}

.blog .card .hero {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 168px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.blog .card .info {
    padding: 1rem;
}

.blog .card,
.blog .card:active,
.blog .card:visited {
    color: var(--text-primary);
}

.blog .card p,
.blog .card:active p,
.blog .card:visited p {
    font-size: .9rem;
    color: var(--text-secondary);
    text-decoration: none;
}

.blog .card:focus,
.blog .card:hover {
    --shadow-color: rgba(56, 103, 214, .12);
    --border-color: rgba(56, 103, 214, .2);
    --hl-color: var(--accent);
    color: var(--text-primary);
    text-decoration: none;
    border-color: var(--border-color);
    -webkit-box-shadow: 0 4px 8px var(--shadow-color);
    -moz-box-shadow: 0 4px 8px var(--shadow-color);
    -o-box-shadow: 0 4px 8px var(--shadow-color);
    box-shadow: 0 4px 8px var(--shadow-color);
    -webkit-transform: translateY(-.1rem);
    -moz-transform: translateY(-.1rem);
    -ms-transform: translateY(-.1rem);
    -o-transform: translateY(-.1rem);
    transform: translateY(-.1rem);
}

.blog .card:focus h5,
.blog .card:hover h5 {
    color: var(--hl-color);
    text-decoration: underline solid var(--hl-color);
}

.blog .card:focus p,
.blog .card:hover p {
    color: var(--text-primary);
}

@media (min-width: 660px) {
    .blog .posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 960px) {
    .blog {
        padding: 3rem 0;
    }

    .blog .posts {
        padding: 2rem 0;
        grid-template-columns: repeat(3, 1fr);
    }
}
