.blog {
  padding: 2rem 1.2rem 3rem;
}

.blog .title {
  text-shadow: var(--text-shadow-size) var(--text-shadow-size) 0 #fed330;
}

.blog .posts {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: masonry;
  grid-auto-flow: row dense;
  grid-gap: 1rem;
  padding: 1rem 0;
}

.blog .posts .card {
  height: auto;
  height: fit-content;
  min-height: 96px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  border-radius: 8px;
  border: 1px solid var(--divider);
  cursor: pointer;
  transition: all .25s ease-in-out;
}

.blog .posts .card .details {
  align-self: flex-start;
  width: 100%;
}

.blog .posts .card .hero {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  max-height: 168px;
  width: 100%;
  height: 168px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.blog .posts .card .details .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  padding: 1rem;
}

.blog .posts .card .details .info p {
  margin-top: .25rem;
}

.blog .posts .card,
.blog .posts .card:active,
.blog .posts .card:visited {
  color: var(--text-primary);
}

.blog .posts .card p,
.blog .posts .card:active p,
.blog .posts .card:visited p {
  font-size: .9rem;
  color: var(--text-secondary);
  text-decoration: none;
}

.blog .posts .card:focus,
.blog .posts .card:hover {
  --shadow-color: rgba(56, 103, 214, .12);
  --border-color: rgba(56, 103, 214, .2);
  --hl-color: var(--accent);
  color: var(--text-primary);
  text-decoration: none;
  border-color: var(--border-color);
  -webkit-box-shadow: 0 4px 8px var(--shadow-color);
  -moz-box-shadow: 0 4px 8px var(--shadow-color);
  -o-box-shadow: 0 4px 8px var(--shadow-color);
  box-shadow: 0 4px 8px var(--shadow-color);
  -webkit-transform: translateY(-.1rem);
  -moz-transform: translateY(-.1rem);
  -ms-transform: translateY(-.1rem);
  -o-transform: translateY(-.1rem);
  transform: translateY(-.1rem);
}

.blog .posts .card:focus h5,
.blog .posts .card:hover h5 {
  color: var(--hl-color);
  text-decoration: underline;
  -webkit-text-decoration-style: solid;
  -webkit-text-decoration-color: var(--hl-color);
  text-decoration: underline solid var(--hl-color);
}

.blog .posts .card:focus p,
.blog .posts .card:hover p {
  color: var(--text-primary);
}

@media (min-width: 660px) {
  .blog .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .blog {
    padding: 3rem 0;
  }

  .blog .posts {
    padding: 3rem 0;
    grid-template-columns: repeat(3, 1fr);
  }
}
