header, section, footer, aside, nav, article, figure, figcaption {
    display: block;
    font-family: "Roboto Mono", monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Mono", monospace;
}

html {
    font-family: "Roboto Mono", monospace;
}

body {
    font-family: "Roboto Mono", monospace;
    background-color: #fafafa;
    text-align: center;
    vertical-align: center;
}

#content {
    display: inline-block;
    /* border: 1px solid rgba(0, 0, 0, 0.54); */
    text-align: center;
    vertical-align: center;
    margin: 8px;
    padding: 16px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#real_content {
    text-align: justify;
    vertical-align: center;
}

#foot {
    bottom: 0;
    text-align: center;
    padding: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin-top: 8px;
}

#foot footer {
    text-align: center;
}

input {
    display: inline-block;
    outline: 0;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #2196f3;
    padding-left: 4px;
    line-height: 2;
    font-family: "Roboto Mono", monospace;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 4px;
    margin-right: 6px;
}

button {
    color: white;
    text-transform: uppercase;
    background-color: #2196f3;
    padding: 4px;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-family: "Roboto Mono", monospace;
}

button:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}