nav.nav {
    z-index: 4;
    width: 100%;
    background-color: var(--toolbar-color);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    min-height: var(--toolbar-height);
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0 0 4px 0 var(--toolbar-shadow-a), 0 3px 4px 0 var(--toolbar-shadow-b), 0 1px 5px 0 var(--toolbar-shadow-c);
    -moz-box-shadow: 0 0 4px 0 var(--toolbar-shadow-a), 0 3px 4px 0 var(--toolbar-shadow-b), 0 1px 5px 0 var(--toolbar-shadow-c);
    -o-box-shadow: 0 0 4px 0 var(--toolbar-shadow-a), 0 3px 4px 0 var(--toolbar-shadow-b), 0 1px 5px 0 var(--toolbar-shadow-c);
    box-shadow: 0 0 4px 0 var(--toolbar-shadow-a), 0 3px 4px 0 var(--toolbar-shadow-b), 0 1px 5px 0 var(--toolbar-shadow-c);
}

.toolbar {
    display: grid;
    grid-template-columns: 1fr;
}

.toolbar button.menuToggle,
.toolbar button.menuToggle:hover,
.toolbar button.menuToggle:focus,
.toolbar button.menuToggle:active {
    min-height: var(--toolbar-height);
    min-width: var(--toolbar-height);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    height: 100%;
    padding: 0 .6rem 0 .4rem;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.toolbar button.menuToggle svg {
    margin-top: .2rem;
    margin-left: .2rem;
}

.toolbar div {
    min-height: var(--toolbar-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

.toolbar .logo {
    justify-content: space-between;
    padding: .4rem .4rem;
    font-family: var(--manrope-font);
    font-weight: 600;
    font-size: 1.05rem;
}

.toolbar .logo a {
    padding-bottom: .4rem;
}

.toolbar .logo .logito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.toolbar .logo .logito img {
    width: 24px;
    height: 24px;
    margin-right: .6rem;
}

.toolbar .menu {
    display: none;
    font-family: var(--inter-font);
    font-weight: 400;
}

.toolbar .menu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .2rem .4rem;
}

.toolbar span.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: var(--toolbar-height);
    height: 100%;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

.toolbar .menu span.item {
    width: 100%;
}

.toolbar .menu span.item .emoji {
    margin-right: 1.1rem;
}

.toolbar div span a,
.toolbar div span.theme-toggle {
    width: 100%;
    padding: .4rem 1rem .6rem .8rem;
}

.toolbar .menu .item a,
.toolbar .menu .item a:visited {
    color: var(--text-secondary);
}

.toolbar div span a,
.toolbar div span a:hover,
.toolbar div span a:focus,
.toolbar div span a:active,
.toolbar div span a:visited {
    text-decoration: none;
}

.toolbar span.item:hover a,
.toolbar span.item:focus a,
.toolbar span.item.active a,
.toolbar div span.theme-toggle:hover,
.toolbar div span.theme-toggle:focus {
    color: var(--accent-dark) !important;
    background-color: var(--toolbar-highlight);
    border-radius: 4px;
}

@media (min-width: 960px) {
    nav.nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .toolbar {
        grid-template-columns: 1fr auto;
        padding-top: .4rem;
        padding-bottom: .4rem;
        width: 100%;
        max-width: 960px;
    }

    .toolbar .logo {
        padding: 0 .2rem;
    }

    .toolbar button.menuToggle {
        display: none;
        height: 0;
        width: 0;
        min-height: 0;
        min-width: 0;
    }

    .toolbar .menu,
    .toolbar .menu.active {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 .4rem;
    }

    .toolbar .menu .item {
        width: auto;
        white-space: nowrap;
    }

    .toolbar span.item {
        padding: 0 .2rem;
    }

    .toolbar .menu span.item .emoji {
        margin-right: .8rem;
    }
}
