main.main {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: calc(100vh - var(--toolbar-height) - 1.6rem);
    padding: calc(var(--toolbar-height) + 1.6rem) 0 0;
}

main.main .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}
