.card {
    margin-top: .6rem;
    border-radius: .4rem;
}

.card-content h6 {
    margin-bottom: .4rem;
}

ul {
    list-style-type: disc;
    padding-inline-start: 1.2rem;
}

.help {
    margin-top: .5rem;
}

.code-portion {
    padding: .3rem;
    color: #000;
    line-height: 2;
}

.code-no-color {
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0 !important;
}

.code-first {
    background-color: #ffe0e4;
}

.code-second {
    background-color: #fbf2c7;
}

.code-third {
    background-color: #bff6d0;
}

.code-fourth {
    background-color: #e1ebff;
}

.checkbox input {
    margin-right: .4rem;
    padding-top: .2rem;
}

.field:not(:last-child) {
    margin-bottom: .8rem;
}

.label:not(:last-child) {
    margin-bottom: .7rem;
}
