doctype html

block vars
  - repo = '';

head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title #{repo} Sample APK
  meta(property='repo' content=repo)
  link(rel='stylesheet' href='releases.css')
body
  .container
    p#message Loading... 😬
  script(src='releases.js')
