.container {
    text-align: center !important;
    height: 100vh !important;
    display: table-cell !important;
    vertical-align: middle !important;
}

.container #message {
    margin-left: 1.5rem !important;
}