.post {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 2rem 1.2rem;
}

.post img {
    display: block;
    margin: auto;
    height: auto;
    max-width: 100%;
}

.post h2 {
    margin-top: 1rem;
    margin-bottom: .8rem;
}

.post p {
    margin-top: .6rem;
    margin-bottom: .6rem;
}

.post ul {
    list-style-type: disc;
    margin-left: 1.2rem;
}

.post .content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.post .content img {
    display: block;
    margin: auto;
    height: auto;
    max-width: 100%;
}

@media (min-width: 960px) {
    .post {
        padding: 2rem 0;
    }
}
