.post {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.2rem;
    width: 100%;
    max-width: 90vw;
}

.post img.hero {
    margin-bottom: 1rem;
}

.post img {
    display: block;
    margin: auto;
    height: auto;
    max-width: 100%;
}

.post h1,
.post h2,
.post h3,
.post h4 {
    margin-top: 1.6rem;
    margin-bottom: .4rem;
}

.post p,
.post ol {
    margin-top: .6rem;
    margin-bottom: .6rem;
}

.post ul {
    list-style-type: disc;
    margin-left: 1.4rem;
}

.post ul li {
    margin-top: .1rem;
    margin-bottom: .1rem;
}

.post article,
.post article .content {
    display: flex;
    flex-direction: column;
}

@media (min-width: 960px) {
    .post {
        padding: 2rem 0;
        max-width: 900px;
    }
}
