.post {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.2rem 3rem;
  width: 100%;
  max-width: 90vw;
}

.post .toc .title {
  font-family: var(--manrope-font);
  font-size: calc(var(--base-font-size) * 1.5);
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 0;
}

.post .toc ol,
.post .toc ul {
  list-style: none;
  position: relative;
  padding-left: 1.6rem;
  margin-left: .2rem;
}

.post .toc ol > li:before,
.post .toc ul > li:before {
  content: counter(list-item, decimal) ".";
  position: absolute;
  font-weight: 400;
  color: #6b7280;
  left: 0;
}

.post .toc ul > li:before {
  content: counter(list-item, disc) ".";
}

.post img.hero {
  margin-bottom: 2.4rem;
  object-fit: cover;
  max-height: 440px;
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.post img {
  display: block;
  margin: auto;
  height: auto;
  max-width: 100%;
  border-radius: 6px;
}

.post h1,
.post h2,
.post h3,
.post h4 {
  margin-top: 1.6rem;
  margin-bottom: .4rem;
  scroll-margin-top: calc(var(--toolbar-height) + 1.6rem);
}

.post h5,
.post h6 {
  scroll-margin-top: calc(var(--toolbar-height) + 1.6rem);
}

.post h1 {
  margin-bottom: 0;
}

.post .date {
  color: var(--text-tertiary);
  margin-top: 0;
  margin-bottom: 2.4rem;
}

.post p,
.post ol {
  margin-top: .6rem;
  margin-bottom: .6rem;
}

.post ul {
  list-style-type: disc;
  margin-left: 1.4rem;
}

.post ul li {
  margin-top: .1rem;
  margin-bottom: .1rem;
}

.post article,
.post article .content {
  display: flex;
  flex-direction: column;
}

.post article .heroContainer {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 960px) {
  .post {
    padding: 3rem 0;
    max-width: 900px;
  }
}
