.contact {
  padding: 2rem 1.2rem 3rem;
}

.contact .title {
  text-shadow: var(--text-shadow-size) var(--text-shadow-size) 0 var(--dark-gradients-a);
}

.contact p {
  margin-top: .8rem;
  margin-bottom: .8rem;
}

.contact form {
  display: grid;
  grid-template-columns: 1fr;
}

.contact form .row {
  display: grid;
  grid-template-columns: 1fr;
}

.contact form .field {
  display: flex;
  flex-direction: column;
  margin: .4rem 0 0 0;
}

.contact form .help,
.contact form .field .help,
.contact form .error,
.contact form .field .error {
  margin-top: .6rem;
  font-size: .8rem;
  color: var(--text-tertiary);
}

.contact form .error,
.contact form .field .error {
  color: var(--error-color);
}

.contact form button {
  max-width: 96px;
}

@media (min-width: 960px) {
  .contact {
    padding: 3rem 0 4rem;
  }

  .contact form .row {
    grid-template-columns: 1fr 1fr;
  }

  .contact form .row .field:not(:last-child) {
    margin-right: 1.2rem;
  }
}
